In [1]:
import numpy as np
import dask.dataframe as dd
import pandas as pd
#from mlt.default import selector as s
import cv2, os
import matplotlib.pyplot as plt
%matplotlib inline

# Configs

In [2]:
!ls /home/jovyan/vmldata/tmp_jlc/idmqueries/

raw_attribute_data_shrek_cleaned.h5  raw_text_data_shrek.h5
raw_attribute_data_shrek.h5	     RUGS_IDM_1118_and_0119_DATA.h5
raw_image_data_denis.h5		     RUGS_IDM_Nov2018_DATA.h5
raw_image_data_patrick.h5	     RUGS_VALIDATION_DATA.h5

In [3]:
ATTR_DATA_FILE = "raw_attribute_data_shrek_cleaned.h5"
#ATTR_DATA_FILE = "/home/jovyan/vmldata/tmp_jlc/idmqueries/raw_attribute_data_shrek_cleaned.h5"
IMAGE_DATA_FILE = "raw_image_data_patrick.h5"



# Please choose limited CATEGORIES. This will avoid Memory issues.
SELECTED_CATEGORIES = ['BOOT', 'BOOTS', "PUMP", "PUMPS", "FLAT", "FLATS", 
                       "HANDBAG", "HANDBAGS", 
                       "WATCH", "WATCHES",
                       "PANTS", "JEANS", "DRESS",
                       "TOP", "TOPS", "SWEATER", "SWEATERS", "COAT", "COATS"]

SELECTED_CATEGORIES = ["DRESS", "TOP", "TOPS", "SWEATER", "SWEATERS", "COAT", "COATS", "JACKET", "JACKETS"]

# optional config. Make it empty list if not used.
SELECTED_ATTRIBUTES = ['Neckline']
SELECTED_ATTRIBUTES = []

# CHANGE THIS
SAVE_OUTPUT_AS = "NECKLINE_VALIDATION_DATA.h5"

# Configs Validation

In [4]:
if len(SELECTED_CATEGORIES) == 0:
    print("ERROR: Please limit your SELECTED_CATEGORIES. Otherwise it takes too long. May also run out of memory.")
    for _ in range(10):
        print("STOP")

# Load IDM raw files

In [5]:
# import h5py
# f = h5py.File(ATTR_DATA_FILE, 'r')
# dset = f['/macys_images']
# [x for x in dset.attrs]

In [6]:
# load attr file
raw_attr = pd.read_hdf(ATTR_DATA_FILE) #, key='macys_images')
print("count raw_attr", len(raw_attr))
raw_attr.head()

count raw_attr 24503412

   PROD_ID  ATTR_NAME ATTR_VAL
0        9     NRF_ID      143
1        9     NRF_ID       46
2        9     NRF_ID      640
3        9     NRF_ID      650
4       45  Age Group    Adult

In [20]:
unique_attr_names = list(raw_attr['ATTR_NAME'].unique())
[x for x in unique_attr_names if 'top' in x.lower()]

['Top Style',
 'Laptop Safe',
 'Laptop Bag Size',
 'Must Have Tops',
 'Mattress Top',
 'Swim Tops',
 'Top Type',
 'Glass Top',
 'Top Feature']

In [18]:
unique_cats = raw_attr[raw_attr['ATTR_NAME'] == 'Category']['ATTR_VAL']
unique_cats = list(set(unique_cats))
#print(unique_cats)

In [ ]:
all_cats_of_interest = [
    'SWEATSHIRT','SHIRTS','POLO_SHIRTS','POLO_SHIRT','UNDERSHIRTS','UNDERSHIRT', 'CASUAL_SHIRT','T-SHIRTS',
    'JACKET', 'JACKETS','COATS', 'COAT',
    'DRESS','TOP','TOPS',
    'SWEATER','SWEATERS',
    'APPAREL',
    'BATH_RUGS','BATH_RUG','AREA_RUG','AREA_AREA_RUG',
]

In [16]:
print([x for x in unique_cats if 'SHIRT' in x])

['SWEATSHIRT', 'SHIRTS', 'POLO_SHIRTS', 'DRESS_SHIRT', 'POLO_SHIRT', 'UNDERSHIRTS', 'SHIRT', 'CASUAL_SHIRT', 'UNDERSHIRT', 'T-SHIRTS']

In [19]:
all_tops_raw_attr = raw_attr.query('ATTR_NAME == "Category" and (ATTR_VAL == "TOP" or ATTR_VAL == "TOPS")')
all_tops_raw_attr['ATTR_VAL'].value_counts()

TOP     244400
TOPS      1330
Name: ATTR_VAL, dtype: int64

In [9]:
# convert Top's -> TOPS 
# basically remove all single quotes and brackets so df_query will work without issues later
# 
# this step takes a long time. So I have saved its output as raw_attribute_data_shrek_cleaned.h5
def clean_category_value(row):
    name = row['ATTR_NAME']
    val = row['ATTR_VAL']
    if name == 'Category':
        val = val.upper()
        val = val.replace(" ", "_")
        val = val.replace("'", "")
    return val 

#raw_attr['ATTR_VAL'] = raw_attr.apply(clean_category_value, axis=1)
#raw_attr.head()

In [10]:
# apparently there are no duplicates ? strange. I guess if I subsetted by image id there would be
#print(raw_attr.shape, raw_attr.drop_duplicates(keep='first').shape)

In [11]:
# load image file
raw_image = pd.read_hdf(IMAGE_DATA_FILE)
raw_image = raw_image[raw_image['COLORWAY_IMAGE_ROLE_TYPE'] == 'CPRI']
raw_image = raw_image[['PRODUCT_ID', 'IMAGE_ID']]

print("count raw_image", len(raw_image))

def make_image_filename(row):
    pid = str(row['PRODUCT_ID'])
    return pid[0] + '/' + pid[1] + '/' + pid + '_' + str(row['IMAGE_ID']) + '.jpg'

raw_image['IMAGE_FILE'] = raw_image.apply(make_image_filename, axis=1)

raw_image.head()

count raw_image 705487

    PRODUCT_ID  IMAGE_ID                IMAGE_FILE
0      5923807   9359780   5/9/5923807_9359780.jpg
7      5303346   9014538   5/3/5303346_9014538.jpg
8      7118640  10436245  7/1/7118640_10436245.jpg
9      8220620  10436245  8/2/8220620_10436245.jpg
10     5303354   9014637   5/3/5303354_9014637.jpg

# Filter Attributes df for Selected Categories

In [22]:
tops_query_string = 'ATTR_NAME == "Category" and (ATTR_VAL == "TOP" or ATTR_VAL == "TOPS")'
print("\n", "query_string:", tops_query_string)
tops_cat_df = raw_attr.query(tops_query_string)
tops_cat_pids = list(set(tops_cat_df['PROD_ID']))
tops_cat_df = raw_attr.loc[raw_attr['PROD_ID'].isin(tops_cat_pids)]
print("\n", "count tops_cat_pids", len(tops_cat_pids))

 query_string: ATTR_NAME == "Category" and (ATTR_VAL == "TOP" or ATTR_VAL == "TOPS")

 count tops_cat_pids 245730

In [25]:
raw_attr_top_pids = raw_attr.query('PROD_ID == @tops_cat_pids')
tops_unique_attr_names = list(raw_attr_top_pids['ATTR_NAME'].unique())

In [26]:
print(tops_unique_attr_names)

['Age Group', 'Brand', 'Category', 'Category of Business', 'Department Type', 'Gender', 'More Colors Available', 'Sleeve Length', 'Special Size', 'Style', 'Apparel Occasion', 'Fabric', 'Top Style', 'Age Range (Toys)', 'Fabric Pattern', 'Kids Apparel Type', 'Size Range', 'Color Family', 'NRF_ID', 'Dresswear Type', 'RTW Trends', 'Sub Brand', 'Loungewear', 'Mom Style', 'Must Have Tops', 'Suit Style', 'Suit Separates', 'Gender/Age', 'Occasion', 'Collection', 'Impulse Trends', 'Trends', 'Dress Occasion', 'Weather', 'Jacket Style', 'Brand Index', 'Mens Product Type', 'Dad Style', 'Activewear', 'Characters', 'Pant Style', 'Coat Length', 'Dress Length', 'Dress Style', 'Jacket Length', 'Collar', 'Shirt Fit', 'Coat Style', 'Bedding Type', 'Home Categories', 'Boot Type', 'Shoe Type', 'Sleepwear Type', 'Skirt Style', 'French Cuff', 'Suit Fit', 'Denim Fit', 'Active Apparel Type', 'Shirt Style', "Kids' Accessories", 'League', 'Lids Clothing & Accessories', 'Professional Team', 'Overlay Bottom', 'Band Color', 'Earrings Style', 'Jewelry Type', 'Material', 'Sport', 'Jacket Closure', 'Jacket Details', 'Wedding Occasion', 'Body Type', 'Swim Tops', 'Bed & Bath Type', 'Swim Style', 'Luggage Type', 'Sandal Type', 'Accessories Type', 'Lingerie Type', 'Panty Type', 'Bracelet Style', 'Shoe Style', 'Shoe Trend', 'Bottom Type', 'Performance', 'Heel', 'T-Shirt Style', 'INC Trends', "Levi's Style", 'Short Style', 'TShirt Theme', 'Holiday Figurine Type', 'RL Trend', 'Anytime Style', 'Slim Fit', 'Linen/Linen Blend', 'Handbag Material', 'Handbag Occasion', 'Handbag Style', 'Personality', 'Neckline', 'Dockers Khaki Style', 'Coat Weight', 'Top Feature', 'Denim Wash', 'Pant Length', 'Bra Feature', 'Impact Level', 'Table Lamp Height', 'Comfort Shoes', 'Product Level', 'Cookware Finder', 'Sports Fan Category', 'Sports Fan Department', 'Impulse Mens Trend', 'Window Type', 'mstylelab trends', 'Strap Type', 'Dressy Separates', 'Fabric Property', 'Sleeve Style', 'SHOPIGNITER', 'Characters - EA', 'College Team', 'Suggested Sell', 'Swim Minimize', 'Active Bra', 'Gold Metal Weight', 'Coat Feature', 'Player Name', 'Nursing Apparel Type', 'Nursing Opening', 'Lids For The Home', 'Hat Style', 'Furniture Finish', 'Shoe Collection', 'Sneaker Type', 'Belt Type', 'Maternity Belly Type', 'Denim Trends', 'Shapewear Style', 'Makeup Category', "MyMacy's Initiative", 'Frame Fit', 'Beauty Category', 'Short Length', 'Shades of Nude', 'Minor League Team', 'Bedding Set Size', 'Textiles Bed Size', 'Kids Set', 'Legging Type', 'Special Events', 'Furniture Category', 'Swim Bottoms', 'Sports Gear', 'Gifts With Purchase']

In [32]:
top_relevant_ATTR_NAMEs = ['Active Apparel Type', 'Activewear', 'Age Group', 
                           'Apparel Occasion', 'Body Type', 
                           'Brand', 'Category', 'Category of Business', 'Characters', 
                           'Characters - EA', 'College Team', 'Color Family', 'Department Type', 'Dress Length', 'Dress Occasion', 
                           'Dress Style', 'Dressy Separates', 'Fabric', 'Fabric Pattern', 'Fabric Property', 
                           'Frame Fit', 'French Cuff', 'Gender', 'Gender/Age', 'Gold Metal Weight', 'INC Trends', 
                           'Impact Level', 'Impulse Mens Trend', 'Impulse Trends', 'Jacket Closure', 'Jacket Details',
                           'Jacket Length', 'Jacket Style', 'Kids Apparel Type', 'Kids Set', "Kids' Accessories", 
                           'League', 'Linen/Linen Blend', 'Loungewear', 'Material', 'Maternity Belly Type', 
                           'Mens Product Type', 'Minor League Team', 'Mom Style', 'Must Have Tops', 
                           "MyMacy's Initiative", 'NRF_ID', 'Neckline', 'Nursing Apparel Type', 'Nursing Opening', 
                           'Occasion', 'Overlay Bottom', 'Performance', 'Personality', 'Player Name', 'Product Level',
                           'Professional Team', 'RL Trend', 'SHOPIGNITER', 'Shades of Nude', 
                           'Shapewear Style', 'Shirt Fit', 'Shirt Style', 'Short Length', 'Short Style', 'Size Range',
                           'Sleepwear Type', 'Sleeve Length', 'Sleeve Style', 'Slim Fit', 'Special Events', 
                           'Special Size', 'Sport', 'Sports Fan Category', 'Sports Fan Department', 'Sports Gear', 
                           'Strap Type', 'Style', 'Sub Brand', 'Suggested Sell', 'Suit Fit', 'Suit Separates', 
                           'Suit Style', 'Swim Bottoms', 'Swim Minimize', 'Swim Style', 'Swim Tops', 'T-Shirt Style', 
                           'TShirt Theme', 'Top Feature', 'Top Style', 'Trends', 'Weather', 'Wedding Occasion', 
                           'mstylelab trends']

In [28]:
tops_cat_df.head()

        PROD_ID             ATTR_NAME   ATTR_VAL
127214   144252             Age Group      Adult
127215   144252             Age Group       Teen
127216   144252                 Brand  Eyeshadow
127217   144252              Category       TOPS
127218   144252  Category of Business     thisIT

In [34]:
for r_at_nm in top_relevant_ATTR_NAMEs:
    print(r_at_nm)
    print(tops_cat_df.query('ATTR_NAME == "{}"'.format(r_at_nm))['ATTR_VAL'].value_counts())
    print()

Active Apparel Type
T-Shirts            832
Hoodies & Fleece    317
Hoodies              23
Polo Shirts           4
Sets                  3
Pants                 3
Jackets               2
Track Suits           2
Shoes                 2
Leggings              1
Name: ATTR_VAL, dtype: int64

Activewear
true    1554
Name: ATTR_VAL, dtype: int64

Age Group
Adult      202600
Child       32598
Teen        16940
Toddler      6936
Infant       3035
Newborn         5
Senior          3
Name: ATTR_VAL, dtype: int64

Anytime Style
Pretty Prints        25
Updated Basics       21
Timeless Classics    19
Name: ATTR_VAL, dtype: int64

Apparel Occasion
Casual               45580
Wear to Work         16138
Daytime               3031
Active                1577
Party                 1515
Work Out               946
Going Out              521
Formal                 313
Night Out              285
Party/Cocktail         170
Baby Moon              126
Holiday Party           99
Dress                   86
Resort                  70
Hospital Bag            68
Christmas               46
Special Occasion        41
Easter                  37
Holiday Style           20
Ring Bearer             11
Communion               10
Mother's Day             9
New Year's Eve           7
Weekend                  7
Dressy                   6
Prom                     4
St. Patrick's Day        4
Birthday                 2
Baby Shower              1
Halloween                1
Graduation               1
Name: ATTR_VAL, dtype: int64

Band Color
White    1
Name: ATTR_VAL, dtype: int64

Belt Type
Chain    1
Name: ATTR_VAL, dtype: int64

Body Type
Hourglass                 444
Pear                      443
Straight                  255
Apple                     252
Regular                    44
Curvy                       8
Plus Size Full Bust         7
Full Bust                   7
Small Bust                  6
Plus Size Apple Shaped      3
Plus Size Hourglass         3
Petite Apple Shaped         2
Plus Size Pear Shaped       2
Petite Full Bust            1
Petite Straight             1
Slim                        1
Name: ATTR_VAL, dtype: int64

Bottom Type
Shorts    1
Name: ATTR_VAL, dtype: int64

Brand
Nike                          31566
Style & Co                    13180
INC International Concepts    11149
Lauren Ralph Lauren            8601
Majestic                       8323
adidas                         8173
Alfani                         6664
Charter Club                   6497
Karen Scott                    5188
JM Collection                  5179
'47 Brand                      5067
Polo Ralph Lauren              5038
Calvin Klein                   4801
Tommy Hilfiger                 4735
Michael Kors                   4562
Lucky Brand                    4241
5th & Ocean                    3950
GUESS                          3230
American Rag                   2862
Motherhood Maternity           2796
NY Collection                  2529
Epic Threads                   2502
Free People                    2388
Outerstuff                     2300
Colosseum                      2275
Jones New York                 2018
G-III Sports                   1970
Under Armour                   1806
BCX                            1725
Jessica Simpson                1724
                              ...
Kenneth Cole Reaction             1
Jaloux                            1
Evy of California                 1
Pow Wow                           1
JM Collection Woman               1
Protection System                 1
Teeze Me                          1
Elements by Nina                  1
Northwest Company                 1
AME                               1
Only Sky                          1
Fan Ink                           1
Pea in A Pod                      1
SL Fashions                       1
California Talk                   1
Mimi Chica                        1
Anxiety                           1
Line & Dot                        1
Univibe                           1
Dora the Explorer                 1
Coco Rave                         1
Secret Charm                      1
Pink & Violet                     1
Crystal Doll                      1
Timing                            1
Volume One                        1
Socialite                         1
Lee Platinum                      1
SPANX                             1
Cyn & Luca                        1
Name: ATTR_VAL, Length: 707, dtype: int64

Brand Index
Handbags Accessories    58
Name: ATTR_VAL, dtype: int64

Category
TOP     244400
TOPS      1330
Name: ATTR_VAL, dtype: int64

Category of Business
Women's          146549
Men's             76095
Baby              24971
thisIT             8785
Women's Shoes         4
Men's Shoes           4
Jewelry               3
Home                  3
Bed & Bath            3
Handbags              1
Name: ATTR_VAL, dtype: int64

Characters
Disney                  788
Star Wars               382
Minnie Mouse            261
Mickey Mouse            246
Hello Kitty             217
Minions                 145
Peanuts                 139
Frozen                  121
Avengers                107
Marvel                  107
Superman                105
Batman                  104
Disney Princess          98
Ninja Turtles            91
Spiderman                86
Wonder Woman             56
Lego                     51
Beauty and the Beast     42
Trolls                   38
Harry Potter             38
Nickelodeon              35
Lilo & Stitch            35
Alice in Wonderland      16
Barbie                   15
Rugrats                  12
Ghostbusters             10
Snow White                8
Pokemon                   7
Sofia the First           7
Shimmer and Shine         7
Peppa Pig                 3
SpongeBob                 3
Vampirina                 2
Jurassic Park             1
Finding Dory              1
My Little Pony            1
Dinosaurs                 1
PAW Patrol                1
Moana                     1
Name: ATTR_VAL, dtype: int64

Characters - EA
Disney                 113
Star Wars               91
Peanuts                 68
Minions                 60
Frozen                  46
Superman                45
Batman                  44
Minnie Mouse            43
Ninja Turtles           41
Avengers                39
Marvel                  31
Hello Kitty             25
Mickey Mouse            22
Disney Princess         18
Wonder Woman            12
Alice in Wonderland      9
Trolls                   8
Spiderman                8
Ghostbusters             6
Harry Potter             5
Sofia the First          3
Name: ATTR_VAL, dtype: int64

Coat Feature
Hooded           32
Performance      25
3-in-1 Jacket     4
Name: ATTR_VAL, dtype: int64

Coat Length
Short         15
Long           8
Mid Length     8
Maxi           3
Name: ATTR_VAL, dtype: int64

Coat Style
Blazer        109
Active         60
Vest            8
Puffer          5
Hooded          3
Trenchcoat      3
Cape            3
Denim           1
Crew            1
Bomber          1
Quilted         1
Raincoat        1
Name: ATTR_VAL, dtype: int64

Coat Weight
Medium    3
Name: ATTR_VAL, dtype: int64

Collar
Spread Collar         4
Point Collar          3
Button Down Collar    1
Name: ATTR_VAL, dtype: int64

Collection
Contemporary    15662
Name: ATTR_VAL, dtype: int64

College Team
Ohio State Buckeyes                    1208
Kentucky Wildcats                      1203
Oklahoma Sooners                       1165
LSU Tigers                             1130
Florida Gators                          929
Iowa State Cyclones                     815
Florida State Seminoles                 801
Louisville Cardinals                    728
Alabama Crimson Tide                    692
North Carolina Tar Heels                688
Washington Huskies                      672
Georgia Bulldogs                        652
Oregon Ducks                            627
Kansas Jayhawks                         534
Michigan Wolverines                     528
Miami Hurricanes                        503
Oklahoma State Cowboys                  493
Purdue Boilermakers                     491
Missouri Tigers                         485
Tennessee Volunteers                    482
Duke Blue Devils                        446
Arizona State Sun Devils                434
Texas Longhorns                         425
Clemson Tigers                          410
Iowa Hawkeyes                           405
Mississippi Rebels                      394
Washington State Cougars                377
Arizona Wildcats                        310
Indiana Hoosiers                        307
Auburn Tigers                           296
                                       ...
Evansville Aces                           2
George Washington Colonials               2
Morehouse Maroon Tigers                   2
Utah State Aggies                         2
Lehigh Mountain Hawks                     2
Princeton Tigers                          2
Youngstown State Penguins                 2
Abilene Christian University              2
American University Eagles                2
Eastern Kentucky Colonels                 2
UC Davis Aggies                           2
North Texas Mean Green                    2
North Dakota State Bison                  2
Alaska Fairbanks Nanooks                  1
Georgia State Panthers                    1
Morehead State Eagles                     1
Bradley Braves                            1
Western Kentucky Hilltoppers              1
Pennsylvania Quakers                      1
Alaska Anchorage Seawolves                1
Sacramento State Hornets                  1
Angelo State University Rams              1
University of Missouri Tigers             1
McNeese State Cowboys                     1
Nicholls State                            1
Mercer Bears                              1
New Mexico State Aggies                   1
University of North Florida Ospreys       1
Tennessee Chattanooga                     1
Jacksonville State Gamecocks              1
Name: ATTR_VAL, Length: 210, dtype: int64

Color Family

Blue           27030
Black          25616
Red            13132
White          13118
Gray           11941
Multi           6703
Pink            6577
Green           6535
Purple          4852
Orange          3188
Tan/Beige       2147
Yellow          1692
Silver          1307
Brown           1249
Ivory/Cream     1124
Gold             992
Name: ATTR_VAL, dtype: int64

Dad Style
Classic    4
Trendy     1
Name: ATTR_VAL, dtype: int64

Denim Fit
Skinny      6
Bootcut     3
Straight    3
Flare       1
Name: ATTR_VAL, dtype: int64

Denim Trends
Detailed    1
Name: ATTR_VAL, dtype: int64

Denim Wash
Dark Rinse    19
Name: ATTR_VAL, dtype: int64

Department Type
Tops                     170998
Activewear                 8320
Shirts                     7736
Sweatshirt                 2119
Jackets                    1036
Hoodie                      644
Sweaters                    617
Nursing                     616
Sports Bra                  359
Bodysuit                    194
Outfits                     112
Dresses                     106
Pants                        60
Accessories                  33
Twinset                      32
Coats                        24
Swim                         24
Baby Sets                    19
Shorts                       15
Vests                        15
Bras                         15
Suits                        13
Skirts                       11
Bodysuits & Coveralls        11
Pajamas & Robes               8
Rompers                       7
Matched Sets                  6
Jeans                         5
Underwear                     4
Shrug/Sweater                 2
Loungewear                    1
Jumpsuits                     1
Tights                        1
Lingerie                      1
Shapewear                     1
Shoes                         1
Name: ATTR_VAL, dtype: int64

Dress Length
Short          64
Knee Length    13
Long           10
High Low        3
Maxi            2
Name: ATTR_VAL, dtype: int64

Dress Occasion
Mother of the Bride    108
Casual                  30
Party                   12
Evening/Formal           9
Wear to Work             6
Guest of Wedding         5
Prom                     2
Day to Night             1
Name: ATTR_VAL, dtype: int64

Dress Style
Empire Waist     71
Sheath           33
A Line           25
Fit & Flare      16
Shift            10
Lace Dress        6
Jumper            4
Maxi Dress        4
Maternity         4
Shirt Dress       4
Sweater Dress     4
Denim             1
Baby Doll         1
Peasant           1
Name: ATTR_VAL, dtype: int64

Dressy Separates
true    16
Name: ATTR_VAL, dtype: int64

Fabric
Cotton                        66694
Polyester                     51992
Rayon                         25142
Nylon                          8728
Knit                           2974
Cotton Jersey                  2952
Linen                          2698
Poly Blend                     2051
Other                          1779
Silk                           1345
Rayon Spandex                  1234
Synthetic                       989
Denim                           875
Faux Leather                    798
Lycra/Spandex                   798
Lace                            736
Satin                           600
Acrylic                         500
Velvet                          475
Sequin                          457
Fleece                          433
Leather                         332
Leather or Suede                328
Chambray                        218
Chiffon                         199
Wool & Wool Blend               174
Matte Jersey                    129
Terry                           123
Georgette                       115
Jersey                           79
                              ...
Suede                            26
Cashmere                         26
Charmeuse                        25
Crepe                            22
Corduroy                         15
Sherpa                           11
Plush                            10
Ponte                             7
All Weather                       6
Performance Blend                 5
Bistretch                         5
Chenille                          5
Velour                            4
Patent Leather                    4
Gauze                             4
Cotton/Polyester                  3
Poplin                            3
Faux Shearling                    2
Micro Cotton                      2
Scuba                             2
Tweed                             2
100% Cotton Performance           2
Shearling                         2
Tencel                            2
Twill                             2
French Terry                      2
Matte Jersey Cotton Jersey        1
Wrinkle Free                      1
Mixed Material                    1
Performance                       1
Name: ATTR_VAL, Length: 71, dtype: int64

Fabric Pattern
Print             17440
Solid             16595
Graphic            9061
Stripe             5428
Embroidered        4141
Plaid              2615
Floral             1930
Colorblock          542
Dots                471
Camo                208
Tie Dye             135
Multi               129
Animal Print        121
Geometric            72
Check                59
Paisley              28
Houndstooth          13
All-Over Shine        8
Logo                  7
Tweed                 4
Pinstripe             2
Batik                 2
Pin Dot               1
Tribal                1
Name: ATTR_VAL, dtype: int64

Fabric Property
Moisture Wicking              1150
Breathable                     277
Dri-Fit                        272
Temperature Control            157
Stretch                        102
Anti-Microbial & Anti Odor      94
Sun Protective                  56
Compression                     26
Water Resistant                 15
Wrinkle Free/Resistant           7
Quick Drying                     1
Name: ATTR_VAL, dtype: int64

Frame Fit
Large    1
Name: ATTR_VAL, dtype: int64

French Cuff
true    1
Name: ATTR_VAL, dtype: int64

Gender
Women     164113
Men        45967
Boys       25143
Girls      10616
Unisex        53
Name: ATTR_VAL, dtype: int64

Gender/Age
Boys             32
Girls            32
Toddler Girls    21
Toddler Boys     21
Infant Boys      10
Infant Girls     10
Men               6
Women             6
Name: ATTR_VAL, dtype: int64

Gold Metal Weight
10K    6
Name: ATTR_VAL, dtype: int64

INC Trends
INC Collection 1    24
INC Top Picks 1      7
Name: ATTR_VAL, dtype: int64

Impact Level
Low Impact       127
Medium Impact    126
High Impact       30
Name: ATTR_VAL, dtype: int64

Impulse Mens Trend
Impulse Mens Trend 20    1
Name: ATTR_VAL, dtype: int64

Impulse Trends
Impulse Trends 24    111
Impulse Trend 4       31
Impulse Trends 22     28
Impulse Trend 15      21
Impulse Trend 14      20
Impulse Trend 10      16
Impulse Trends 23     13
Impulse Trends 27     12
Impulse Trends 21     10
Impulse Trends 30     10
Impulse Trend 1        6
Impulse Trends 28      5
Impulse Trend 16       5
Impulse Trend 11       3
Impulse Trend 7        3
Impulse Trend 5        2
Impulse Trend 2        1
Impulse Trend 20       1
Name: ATTR_VAL, dtype: int64

Jacket Closure
2 Button    7
3 Button    5
1 Button    1
4 Button    1
Name: ATTR_VAL, dtype: int64

Jacket Details
Center Vent    6
Name: ATTR_VAL, dtype: int64

Jacket Length
Regular    4
Long       1
Name: ATTR_VAL, dtype: int64

Jacket Style
Active         110
Kimono          99
Vest            68
Poncho          63
Blazer          40
Dressy          39
Fleece          13
Denim            5
Bomber           2
Military         1
Embroidered      1
Embellished      1
Anorak           1
Trucker          1
Name: ATTR_VAL, dtype: int64

Kids Apparel Type
T-Shirts                    11336
Graphic Tees                 7007
Shirts                       6550
Button Up Shirts & Polos     6486
Tops                         3805
Sweatshirts & Hoodies        1416
Activewear                    993
Tanks                         615
Mix & Match                   198
Sweaters                      169
Suits & Suit Separates         88
Coats & Jackets                67
Sets                           58
Accessories                    46
Shorts                         40
Bodysuits                      32
Dresses                        26
Jeans                          25
Pants                          15
Underwear                       8
Swimwear                        7
Pajamas                         4
Rompers                         2
Skirts                          1
Coveralls                       1
Name: ATTR_VAL, dtype: int64

Kids Set

Sweater Set    7
Name: ATTR_VAL, dtype: int64

Kids' Accessories
Tights & Leotards          6
Hats, Gloves, & Scarves    3
Belts & Ties               2
Rain Gear                  2
Blankets & Throws          1
Slippers                   1
Name: ATTR_VAL, dtype: int64

League
NCAA                      20969
NFL                       20664
MLB                       15950
NBA                        8966
NHL                        5676
MLS                         959
International Soccer        233
FIFA World Cup              183
MiLB                        107
NASCAR                        6
World Baseball Classic        3
Name: ATTR_VAL, dtype: int64

Linen/Linen Blend
true    1
Name: ATTR_VAL, dtype: int64

Loungewear
true    152
Name: ATTR_VAL, dtype: int64

Material
Pearl      2
Acrylic    1
Leather    1
China      1
Name: ATTR_VAL, dtype: int64

Maternity Belly Type
Side Panel    2
Name: ATTR_VAL, dtype: int64

Mens Product Type
T-Shirts                  2219
Polo Shirts                350
Hoodies                    319
Jerseys                    310
Casual Shirts              281
Coats & Jackets            179
Sweatshirts                 74
Tanks                       67
Track Jackets               46
Fleece                      41
Vests                       21
Activewear                  11
Hats, Gloves & Scarves       7
Shorts                       6
Dress Shirts                 5
Shoes                        4
Suits & Suit Separates       2
Sunglasses                   1
Pants                        1
Blazers & Sport Coats        1
Name: ATTR_VAL, dtype: int64

Minor League Team
EL Paso Chihuahuas           13
Oklahoma City Dodgers        13
Las Vegas 51s                12
Durham Bulls                 11
Charlotte Knights            10
Indianapolis Indians          8
San Antonio Missions          5
New Orleans Baby Cakes        4
Jacksonville Jumbo Shrimp     4
Louisville Bats               3
New Orleans Zephyrs           3
Tacoma Rainiers               3
Nashville Sounds              3
Hickory Crawdads              2
Myrtle Beach Pelicans         2
Alburquerque Isotopes         2
New Orleans Pelicans          2
Round Rock Express            1
Portland Sea Dogs             1
Corpus Christi Hooks          1
Dayton Dragons                1
Bradenton Marauders           1
Hillsboro Hops                1
Columbia Fireflies            1
Hartford Yard Goats           1
Springfield Cardinals         1
Daytona Tortugas              1
Sacramento River Cats         1
Tulsa Drillers                1
Tampa Yankees                 1
Name: ATTR_VAL, dtype: int64

Mom Style
Trendy       19
Classic      11
Active        7
Homemaker     4
Name: ATTR_VAL, dtype: int64

Must Have Tops
true    643
Name: ATTR_VAL, dtype: int64

MyMacy's Initiative
All White Party Outfits    52
Name: ATTR_VAL, dtype: int64

NRF_ID
1      15592
100     8008
0       5585
410     3642
10      2630
400     2414
600     2211
411     1548
20      1535
60      1463
419     1354
984     1335
401     1335
3       1320
2       1309
960      957
650      938
63       929
430      889
500      826
610      818
36       818
101      809
300      798
21       729
601      718
466      692
611      683
110      680
420      674
       ...
913        2
958        2
295        2
846        2
148        2
874        2
875        2
573        2
293        2
917        2
228        2
214        2
146        2
849        1
784        1
793        1
582        1
863        1
791        1
759        1
780        1
873        1
796        1
790        1
926        1
792        1
762        1
781        1
797        1
886        1
Name: ATTR_VAL, Length: 998, dtype: int64

Neckline
Crew Neck           7403
Scoop Neck          5709
V-Neck              4770
Off the Shoulder    1533
Collared            1457
Boat Neck            789
Mock Neck            571
Hooded               564
Keyhole              413
Halter               330
Henley               255
Square               214
One Shoulder         203
Turtleneck           195
Cowl Neck            179
Split Neck           133
Sweetheart            50
Open Front            41
Shawl                 14
Strapless              5
Name: ATTR_VAL, dtype: int64

Nursing Apparel Type
Tops         468
Tank Tops    143
Shirts        11
Name: ATTR_VAL, dtype: int64

Nursing Opening
Pull Over    176
Pull Down    158
Lift Up      126
Clip Down    121
Name: ATTR_VAL, dtype: int64

Occasion
Casual               7821
Back to School       2764
Active               1758
Wear-To-Work          362
Dress                 177
Holiday               155
Christmas             150
Valentine's Day       111
Halloween              93
Formal                 86
Wedding                25
Evening                21
Easter                 21
Summer                 19
New Year's Eve         11
Sports                  8
St. Patrick's Day       4
Hanukkah                4
ST. Patrick's Day       4
Mother's Day            2
Outdoor                 1
Dress Shoe              1
Graduation              1
Birthday                1
Name: ATTR_VAL, dtype: int64

Overlay Bottom
Big_And_Tall               363
Youth                      208
Also_In_Plus               188
Also_In_Plus_And_Petite     77
Tummy_Control               61
Also_In_Petite              48
More_Sizes_Plus             11
Apparel_Extendedsizes       10
More_Sizes_Husky             6
Macy's_Exclusive             5
Slim_Fit                     4
Sold_Separately              1
Shoes_Extendedwidths         1
Ext_Sizes_And_Widths         1
Name: ATTR_VAL, dtype: int64

Performance
true    3
Name: ATTR_VAL, dtype: int64

Personality
Shopaholic     1
Traditional    1
Name: ATTR_VAL, dtype: int64

Player Name
Russell Wilson           73
Tom Brady                67
Clayton Kershaw          65
Odell Beckham Jr.        53
Richard Sherman          49
Antonio Brown            49
Kris Bryant              48
Julio Jones              46
Aaron Rodgers            45
Andrew Luck              44
Drew Brees               44
Marcus Mariota           44
Cam Newton               43
Von Miller               43
Rob Gronkowski           41
Peyton Manning           41
Fan #12                  40
Ezekiel Elliott          39
Anthony Rizzo            38
Luke Kuechly             37
Carson Wentz             35
Larry Fitzgerald         35
Aaron Judge              35
Dak Prescott             34
Jose Altuve              33
Mike Trout               33
Blake Bortles            32
Giancarlo Stanton        31
Derek Carr               31
Jarvis Landry            30
                         ..
Enrique Hernandez         1
Hines Ward                1
Junior Seau               1
Connor McDavid            1
D'Onta Foreman            1
Jonathan Marchessault     1
Rod Woodson               1
Jonathan Isaac            1
Luka Doncic               1
John Ross                 1
Vince Carter              1
Jamal Adams               1
Jonathan Quick            1
Tyler Seguin              1
J. D. Martinez            1
Dirk Nowitzki             1
Jayson Tatum              1
D'Angelo Russell          1
Boomer Esiason            1
Marvin Bagley III         1
Bob Griese                1
Eric Berry                1
Curtis Martin             1
Laquon Treadwell          1
Shane Ray                 1
Kyle Lowry                1
Penny Hardaway            1
Wilt Chamberlain          1
Aaron Ekblad              1
Victor Hedman             1
Name: ATTR_VAL, Length: 428, dtype: int64

Product Level
Finish Line    4
Name: ATTR_VAL, dtype: int64

Professional Team
New York Yankees         1299
Seattle Seahawks         1270
Los Angeles Dodgers      1266
St. Louis Cardinals      1211
Chicago Cubs             1138
New England Patriots      958
Denver Broncos            948
Pittsburgh Steelers       928
Indianapolis Colts        864
Philadelphia Eagles       814
New York Mets             811
San Francisco 49ers       810
Chicago Bears             789
Houston Texans            779
Boston Red Sox            758
New Orleans Saints        732
New York Giants           727
Green Bay Packers         720
Seattle Mariners          719
Golden State Warriors     707
Miami Dolphins            667
Minnesota Vikings         663
Oakland Raiders           662
Cincinnati Bengals        651
Carolina Panthers         650
San Francisco Giants      637
Cleveland Browns          622
Kansas City Royals        603
Cleveland Cavaliers       599
Chicago Bulls             597
                         ...
Celtic FC                   2
Puerto Rico                 2
Borussia Dortmund           2
Netherlands                 2
Vancouver Whitecaps         2
Montreal Impact             2
South Korea                 2
World Cup Soccer            2
Tulsa 66ers                 1
China                       1
Panama                      1
Tigres UANL                 1
Juventus Soccer             1
Los Angeles D-Fenders       1
Greece                      1
Swansea City                1
Queens Park Rangers         1
Japan                       1
Baltimore Colts             1
Everton FC                  1
Australia                   1
Maine Red Claws             1
Uruguay                     1
Sunderland                  1
Chivas USA                  1
Seattle Thunderbirds        1
Costa Rica                  1
Newcastle United            1
Boca Juniors                1
Egypt                       1
Name: ATTR_VAL, Length: 228, dtype: int64

RL Trend
RL Trend 10    15
RL Trend 3      7
Name: ATTR_VAL, dtype: int64

SHOPIGNITER

Impulse    8
Name: ATTR_VAL, dtype: int64

Shades of Nude
Beige    1
Name: ATTR_VAL, dtype: int64

Shapewear Style
Camisoles & Tanks    2
Name: ATTR_VAL, dtype: int64

Shirt Fit
Classic Fit    123
Fitted           1
Name: ATTR_VAL, dtype: int64

Shirt Style
Short Sleeve    24
Name: ATTR_VAL, dtype: int64

Short Length
Short    1
Name: ATTR_VAL, dtype: int64

Short Style
Skort     2
Romper    2
Active    1
Cargo     1
Name: ATTR_VAL, dtype: int64

Size Range
Big Boys (8-20)            9603
Little Boys (4-7)          7474
Big Girls (7-16)           4888
Little Girls (4-6x)        3325
Baby Boy (0-24 Months)     1411
Baby Girl (0-24 Months)     939
Toddler Boys (2T-5T)        633
Big & Tall                  384
Toddler Girls (2T-5T)        63
Name: ATTR_VAL, dtype: int64

Sleepwear Type
Pajama Sets                  53
Tops                         26
Loungewear                    6
Pajama Separates              5
Nightgowns & Sleep Shirts     3
Satin Pajamas                 1
Name: ATTR_VAL, dtype: int64

Sleeve Length
Short Sleeve    53539
Long Sleeve     42227
3/4 Sleeve      35131
Sleeveless      31434
One Shoulder      308
Tank              196
Strapless           4
Halter              1
Name: ATTR_VAL, dtype: int64

Sleeve Style
Roll Tab        535
Flutter         275
Dolman           74
Split Sleeve     46
Puff Sleeve      40
Name: ATTR_VAL, dtype: int64

Slim Fit
true    3
Name: ATTR_VAL, dtype: int64

Special Events
Macy's Flower Show    1
Name: ATTR_VAL, dtype: int64

Special Size
Regular        72071
Plus Sizes     30285
Petites        18565
Juniors        16341
Maternity       5219
Big & Tall       383
Slim              10
Husky              7
Athletic           1
Young Men's        1
Name: ATTR_VAL, dtype: int64

Sport
Training/Toning          1244
Athleisure               1134
Yoga                      893
Running                   698
Walking                   355
Golf                      265
Tennis                    262
Bicycling                 242
Winter/Outdoor Sports     138
Soccer                     89
Hiking                     83
Training                   60
Basketball                 29
Camping                    26
Dance                      11
Climbing                    5
Skate                       5
Cycling                     4
Biking                      3
Paddling                    3
Workout                     2
Skiing                      2
Surf/Swim                   2
Lifestyle                   1
Name: ATTR_VAL, dtype: int64

Sports Fan Category
T-Shirts                247
Sweatshirts & Fleece     51
Jerseys                   2
Watches & Clocks          1
Name: ATTR_VAL, dtype: int64

Sports Fan Department
Women    265
Men       34
Name: ATTR_VAL, dtype: int64

Sports Gear
Exercise Gear    10
Name: ATTR_VAL, dtype: int64

Strap Type
Racerback    36
Basic        27
Strapless     1
Name: ATTR_VAL, dtype: int64

Style
Casual          17310
Contemporary     7939
Trendy           6426
Feminine         5263
Country          4843
Traditional      4483
Classic          3863
Modern           3822
Active           2786
Dressy           2010
Sporty           1483
Bohemian          407
Urban              80
Resort             27
Skate               4
Name: ATTR_VAL, dtype: int64

Sub Brand
Lauren Ralph Lauren               6042
MICHAEL Michael Kors              4464
Calvin Klein Jeans                1229
Calvin Klein Performance           836
adidas Originals                   266
TWO by Vince Camuto                221
Tommy Hilfiger Sport               178
Rampage                            163
Catherine Catherine Malandrino     159
RACHEL Rachel Roy Curvy            123
Tommy Hilfiger Adaptive             25
Polo Sport                          23
Eileen Fisher SYSTEM                16
Joe's Jeans                         13
Barbie X Love Tribe                 10
Zoe by Rachel Zoe                    9
CR by Cynthia Rowley                 7
Alfani Red                           5
Charter Club Damask                  5
Tommy Hilfiger Denim                 2
Calvin Klein Modern Cotton           2
Kenneth Cole Reaction                1
Name: ATTR_VAL, dtype: int64

Suggested Sell
Bride Daytime Shower    1
Name: ATTR_VAL, dtype: int64

Suit Fit
Classic Fit    7
Regular Fit    1
Name: ATTR_VAL, dtype: int64

Suit Separates
true    79
Name: ATTR_VAL, dtype: int64

Suit Style
Suit Separates    3809
Dress Suit           6
Suit                 5
Pant Suit            4
Skirt Suit           4
2-Piece Suits        3
Vest                 1
Name: ATTR_VAL, dtype: int64

Swim Bottoms
Skirted    1
Name: ATTR_VAL, dtype: int64

Swim Minimize
Hip    1
Name: ATTR_VAL, dtype: int64

Swim Style
Cover-Up        13
Rash Guard       4
Board Shorts     2
Swim Trunk       1
Name: ATTR_VAL, dtype: int64

Swim Tops
Triangle    2
Halter      1
Bandeau     1
Name: ATTR_VAL, dtype: int64

T-Shirt Style
V-Neck      32
Crewneck    27
Henley       1
Name: ATTR_VAL, dtype: int64

TShirt Theme
Sayings                     951
Logo                        542
Pop Culture                 538
Team Sports                 249
Music                       218
Funny                       203
Holidays                    171
City & State                124
Mystical                    112
Emojis                      108
Movie                       106
Food & Drink                105
Girl Power                   44
Ugly Christmas               30
Active                       27
Character                    19
Superheroes                  10
Animal                        8
Vintage                       8
Ugly Hanukkah                 3
Travel & International        2
Skulls, Crosses & Tribal      2
Star Wars                     2
Name: ATTR_VAL, dtype: int64

Top Feature
Cold Shoulder    1519
Embroidered       978
Bell Sleeve       950
Embellished       846
Cropped           593
Lace Up           497
Wrap              318
Oversized          43
Name: ATTR_VAL, dtype: int64

Top Style
T-Shirt             48435
Blouse              40367
Tank Tops           15911
Graphic Tee         14819
Button Up Shirts    13701
Tunic               10160
Basic                6097
Maternity            5194
Sweatshirt           4947
Knit                 4553
Polo                 4328
Peasant              4034
Active               3758
Cold Shoulder        3241
Off the Shoulder     1511
Cropped              1501
Embroidered          1354
Hoodie               1245
Shirt                1125
Pullover              997
Woven                 991
Athletic              910
Embellished           875
Peplum                657
Lace Up               613
Tie Front             574
Nursing               529
Halter                523
Poncho                495
V-Neck                495
Bell Sleeve           488
Wrap                  448
Bodysuits             428
Mock Neck             388
Button Front          267
Kimono                237
Turtleneck            230
One Shoulder          222
Henley                198
Crew Neck             145
Choker                144
Ugly Christmas         80
Surplice               79
Tank                   59
Lace                   52
Hoodies & Fleece       48
Oversized              33
Camisole               24
Dressy                 24
Vest                   10
Thermal                 5
Ugly Hanukkah           5
Fashion Tops            1
Tank & Camisole         1
Name: ATTR_VAL, dtype: int64

Trends
Plaid                     935
Femme Blouse              480
Off The Shoulder          371
The Dramatic Sleeve       353
Novelty                   347
Graphic                   307
The Ruffle                252
Femme                     247
New Crew                  230
The Shirt                 207
Status Prints              96
Embroidered                73
Loungewear                 67
Modern Blouses             64
Neo Geo                    56
Sport Leisure              55
Black & White              55
Festival                   43
Cropped                    42
Modern Romance             41
Weekend Chic               38
Matched Set                33
Urban Energy               31
Vintage                    20
Patches                    20
Ruffle                     19
Shades of Red              12
The Striped Tee             9
Urban Utility               7
Winter Knits                5
The Ultimate 3rd Layer      4
Embellished                 3
Contemporary                3
The Cape                    2
The Ruffle Top              1
Fringe                      1
Corduroy                    1
The Shirt Dress             1
Statement Blazer            1
The Office Party            1
Name: ATTR_VAL, dtype: int64

Weather

Warm Weather    585
Cold Weather    234
Name: ATTR_VAL, dtype: int64

Wedding Occasion
Mother of the Bride    92
Bridal Shower          19
Bridesmaid              4
Rehearsal Dinner        2
Wedding Dress           1
Name: ATTR_VAL, dtype: int64

mstylelab trends
true    34
Name: ATTR_VAL, dtype: int64

In [34]:
boots_query_string = 'PROD_ID == @shoes_cat_pids and ATTR_NAME == "Shoe Type" and (ATTR_VAL == "Pump" or ATTR_VAL == "Pumps")'
print("\n", "query_string:", boots_query_string)
cat_df = raw_attr.query(boots_query_string)
cat_pids = list(set(cat_df['PROD_ID']))
cat_df = raw_attr.loc[raw_attr['PROD_ID'].isin(cat_pids)]
print("\n", "count cat_pids", len(cat_pids))

rugs_query_string = 'PROD_ID == @rugs_cat_pids and ATTR_NAME == "Shoe Type" and (ATTR_VAL == "Pump" or ATTR_VAL == "Pumps")'
rugs_query_string = 'PROD_ID == @rugs_cat_pids and ATTR_NAME == "Shoe Type" and (ATTR_VAL == "Pump" or ATTR_VAL == "Pumps")'
rugs_query_string = 'PROD_ID == @rugs_cat_pids and ATTR_NAME == "Shoe Type" and (ATTR_VAL == "Pump" or ATTR_VAL == "Pumps")'

print("\n", "query_string:", RUGS_query_string)
cat_df = raw_attr.query(boots_query_string)
cat_pids = list(set(cat_df['PROD_ID']))
cat_df = raw_attr.loc[raw_attr['PROD_ID'].isin(cat_pids)]
print("\n", "count cat_pids", len(cat_pids))

print("\n", "df shape:", cat_df.shape)

cat_df.head()

NameError: name 'boots_query_string' is not defined

In [36]:
# if no categories are provided then use all unique categories from the data
if len(SELECTED_CATEGORIES) == 0:
    UNIQUE_CATEGORIES = list(set(raw_attr[raw_attr['ATTR_NAME'] == 'Category']['ATTR_VAL']))
    SELECTED_CATEGORIES = UNIQUE_CATEGORIES
    
# collect unique attributes for selected categories
if len(SELECTED_CATEGORIES) == 1:
    query_string = 'ATTR_NAME == "Category" and ATTR_VAL == "{}"'.format(str(SELECTED_CATEGORIES[0]))
else:
    query_string = 'ATTR_NAME == "Category" and (ATTR_VAL == "{}"'.format(str(SELECTED_CATEGORIES[0]))
    for idx, SELECTED_CATEGORY in enumerate(SELECTED_CATEGORIES):
        if idx == 0: continue
        query_string = query_string + ' or ATTR_VAL == "{}"'.format(str(SELECTED_CATEGORY))
    query_string = query_string + ")"

print("\n", "query_string:", query_string)

cat_df = raw_attr.query(query_string)
cat_pids = list(set(cat_df['PROD_ID']))
cat_df = raw_attr.loc[raw_attr['PROD_ID'].isin(cat_pids)] 
print("\n", "df shape:", cat_df.shape)

cat_df.head()

 query_string: ATTR_NAME == "Category" and (ATTR_VAL == "BATH_RUGS" or ATTR_VAL == "RUG" or ATTR_VAL == "AREA_AREA_RUG" or ATTR_VAL == "AREA_RUG" or ATTR_VAL == "BATH_RUG")

 df shape: (529262, 3)

       PROD_ID             ATTR_NAME      ATTR_VAL
21670    32016         Bath Category     Bath Rugs
21671    32016                 Brand  Calvin Klein
21672    32016              Category      BATH_RUG
21673    32016  Category of Business    Bed & Bath
21674    32016  Category of Business          Home

In [37]:
raw_attr[raw_attr['PROD_ID'] == 32016]

       PROD_ID             ATTR_NAME      ATTR_VAL
21670    32016         Bath Category     Bath Rugs
21671    32016                 Brand  Calvin Klein
21672    32016              Category      BATH_RUG
21673    32016  Category of Business    Bed & Bath
21674    32016  Category of Business          Home
21675    32016       Home Categories          Bath
21676    32016                 Style       Classic
21677    32016                 Style        Modern
21678    32016                 Style   Traditional

In [38]:
image_pids = list(set(raw_image['PRODUCT_ID']))

print("cat_pids", len(cat_pids))
print("image_pids", len(image_pids))


inter = list(set(cat_pids) & set(image_pids))
print("inter", len(inter))

cat_pids 49502
image_pids 417001
inter 16078

# Pivot cat_df

In [39]:
def dedup_rows(x):
    if len(x) > 1:
        o = set([i for i in x])
        return ', '.join(o)
    else:
        return x
    
aggregations = {
    'ATTR_VAL': dedup_rows
}
cat_df_pivoted = cat_df.groupby(['PROD_ID', 'ATTR_NAME']).agg(aggregations).reset_index()
cat_df_pivoted = cat_df_pivoted.pivot(index='PROD_ID', columns='ATTR_NAME', values='ATTR_VAL')
print("\n", "shape cat_df_pivoted", cat_df_pivoted.shape)
cat_df_pivoted.head()

 shape cat_df_pivoted (49502, 87)

ATTR_NAME,Active Apparel Type,Age Group,Area Rugs,Bath Accessory Style,Bath Category,Bath Type,Bed & Bath Type,Bed Size,Bedding Color,Bedding Features,...,Table Linen Type,Textiles Bed Size,Top Style,Towel Fabric,Towel Size,Towel Style,Underwear Style,Weather,Wedding Registry,Window Type
PROD_ID,,,,,,,,,,,,,,,,,,,,,
32016,NaN,NaN,NaN,NaN,Bath Rugs,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32017,NaN,NaN,NaN,NaN,Bath Rugs,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65749,NaN,Adult,NaN,NaN,Bath Rugs,NaN,Bath,NaN,"Green, Purple, Brown/Tan, White/Ivory, Grey",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92530,NaN,NaN,NaN,NaN,Bath Rugs,NaN,Bath,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Merge ImageData with AttributeData

In [40]:
merged_df = raw_image.merge(cat_df_pivoted, left_on="PRODUCT_ID", right_on="PROD_ID")
print("\n", "shape merged_df", merged_df.shape)
merged_df.tail()

 shape merged_df (22949, 90)

,PRODUCT_ID,IMAGE_ID,IMAGE_FILE,Active Apparel Type,Age Group,Area Rugs,Bath Accessory Style,Bath Category,Bath Type,Bed & Bath Type,...,Table Linen Type,Textiles Bed Size,Top Style,Towel Fabric,Towel Size,Towel Style,Underwear Style,Weather,Wedding Registry,Window Type
22944,7797235,11181971,7/7/7797235_11181971.jpg,NaN,NaN,true,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22945,8081323,11508662,8/0/8081323_11508662.jpg,NaN,NaN,true,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22946,7689754,11090774,7/6/7689754_11090774.jpg,NaN,NaN,true,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22947,8006588,11396879,8/0/8006588_11396879.jpg,NaN,NaN,true,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22948,8006584,11396879,8/0/8006584_11396879.jpg,NaN,NaN,true,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
merged_df.columns

Index(['PRODUCT_ID', 'IMAGE_ID', 'IMAGE_FILE', 'Active Apparel Type',
       'Age Group', 'Area Rugs', 'Bath Accessory Style', 'Bath Category',
       'Bath Type', 'Bed & Bath Type', 'Bed Size', 'Bedding Color',
       'Bedding Features', 'Brand', 'Bridal', 'Case Shape', 'Category',
       'Category of Business', 'Certifications', 'Characters',
       'Characters - EA', 'Collection', 'College Team', 'Color Family',
       'Cookware Material', 'Department Type', 'Dress Occasion', 'Fabric',
       'Fabric Pattern', 'Fabric Property', 'Fill', 'Foam',
       'Furniture Category', 'Gender', 'Gender/Age', 'Gold Metal Weight',
       'Hat Style', 'Holiday', 'Holiday Decor Type', 'Home Categories',
       'Home Organization', 'Kids Bath', 'Kitchen Linen Type', 'Kitchen Type',
       'Laundry Organization Type', 'League', 'Lids Clothing & Accessories',
       'Lids For The Home', 'Makeup Category', 'Material', 'Memory Foam',
       'Memory Foam Rugs', 'Mens Product Type', 'Mom Style',
       'More Colors Available', 'Multipacks', 'NRF_ID', 'Occasion',
       'Ornament Style', 'Outdoor Accessories', 'Overlay Bottom',
       'Product Color', 'Product Level', 'Professional Team', 'Room Type',
       'Rug Color', 'Rug Construction', 'Rug Size', 'Rug Style', 'Rug Type',
       'Rugs Pattern', 'Shoe Collection', 'Shoe Style', 'Shoe Type',
       'Shower Curtain Accessory Type', 'Sleeve Length', 'Special Size',
       'Stone Setting', 'Style', 'Sub Brand', 'Table Linen Type',
       'Textiles Bed Size', 'Top Style', 'Towel Fabric', 'Towel Size',
       'Towel Style', 'Underwear Style', 'Weather', 'Wedding Registry',
       'Window Type'],
      dtype='object')

# Visualize final df

In [48]:
columns_names = [
    'PRODUCT_ID', 'IMAGE_ID','IMAGE_FILE', 'Area Rugs', 'Bath Accessory Style', 'Bath Category', 'Bath Type',
    'Bed & Bath Type', 'Brand', 'Category', 'Category of Business', 'Collection', 'Color Family', 'Department Type', 
    'Fabric', 'Fabric Pattern', 'Fabric Property', 'Fill', 'Furniture Category', 'Home Categories',
    'Home Organization', 'Kitchen Type', 'Material', 'Memory Foam', 'Memory Foam Rugs', 
    'NRF_ID', 'Outdoor Accessories', 'Product Color', 'Product Level', 'Room Type', 'Rug Color', 'Rug Construction', 
    'Rug Size', 'Rug Style', 'Rug Type', 'Rugs Pattern', 'Style', 'Sub Brand']

#columns_names = ['IMAGE_FILE', 'Category', 'Shoe Type']
print(SELECTED_ATTRIBUTES)
columns_names.extend(SELECTED_ATTRIBUTES)
print(columns_names)
viz_df = merged_df[columns_names].dropna(how='all',axis=1)
print("\n", "shape viz_df", viz_df.shape)
print("\n", viz_df['Rug Type'].unique())
viz_df.head()

[]
['PRODUCT_ID', 'IMAGE_ID', 'IMAGE_FILE', 'Area Rugs', 'Bath Accessory Style', 'Bath Category', 'Bath Type', 'Bed & Bath Type', 'Brand', 'Category', 'Category of Business', 'Collection', 'Color Family', 'Department Type', 'Fabric', 'Fabric Pattern', 'Fabric Property', 'Fill', 'Furniture Category', 'Home Categories', 'Home Organization', 'Kitchen Type', 'Material', 'Memory Foam', 'Memory Foam Rugs', 'NRF_ID', 'Outdoor Accessories', 'Product Color', 'Product Level', 'Room Type', 'Rug Color', 'Rug Construction', 'Rug Size', 'Rug Style', 'Rug Type', 'Rugs Pattern', 'Style', 'Sub Brand']

 shape viz_df (22949, 31)

 [nan 'Medium' 'Large' 'Small' 'Bath' 'Bath, Contour' 'Small, Contour'
 'Medium, Contour' 'Medium, Small' 'Medium, Holiday' 'Holiday']

,PRODUCT_ID,IMAGE_ID,IMAGE_FILE,Area Rugs,Bath Accessory Style,Bath Category,Bath Type,Bed & Bath Type,Brand,Category,...,Outdoor Accessories,Product Color,Rug Color,Rug Construction,Rug Size,Rug Style,Rug Type,Rugs Pattern,Style,Sub Brand
0,7797410,11181817,7/7/7797410_11181817.jpg,true,NaN,NaN,NaN,NaN,Bob Mackie,AREA_RUG,...,NaN,NaN,Blue,NaN,5x8,Indoor,NaN,Oriental,Traditional,NaN
1,7797410,11181813,7/7/7797410_11181813.jpg,true,NaN,NaN,NaN,NaN,Bob Mackie,AREA_RUG,...,NaN,NaN,Blue,NaN,5x8,Indoor,NaN,Oriental,Traditional,NaN
2,7797411,11181817,7/7/7797411_11181817.jpg,true,NaN,NaN,NaN,NaN,Bob Mackie,AREA_RUG,...,NaN,NaN,Blue,NaN,8x10,Indoor,NaN,Oriental,Traditional,NaN
3,7797411,11181813,7/7/7797411_11181813.jpg,true,NaN,NaN,NaN,NaN,Bob Mackie,AREA_RUG,...,NaN,NaN,Blue,NaN,8x10,Indoor,NaN,Oriental,Traditional,NaN
4,7797409,11181817,7/7/7797409_11181817.jpg,true,NaN,NaN,NaN,NaN,Bob Mackie,AREA_RUG,...,NaN,NaN,Blue,NaN,3x5,Indoor,NaN,Oriental,Traditional,NaN

In [58]:
viz_df = viz_df.drop_duplicates(subset=['IMAGE_FILE'],keep='first')

In [59]:
viz_df['Rug Type'].value_counts()

Medium             739
Small              342
Bath               234
Large              173
Medium, Contour     22
Bath, Contour       12
Small, Contour       8
Medium, Small        6
Holiday              3
Medium, Holiday      1
Name: Rug Type, dtype: int64

In [60]:
viz_df['Rug Type'].unique()

array([nan, 'Medium', 'Large', 'Small', 'Bath', 'Bath, Contour',
       'Small, Contour', 'Medium, Contour', 'Medium, Small',
       'Medium, Holiday', 'Holiday'], dtype=object)

# Save df

In [61]:
#merged_df.to_hdf(SAVE_OUTPUT_AS, key="macys_images")
viz_df.to_hdf(SAVE_OUTPUT_AS, key="macys_rug_images")
print("Saved")

Saved

/opt/conda/lib/python3.6/site-packages/pandas/core/generic.py:1996: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->['IMAGE_FILE', 'Area Rugs', 'Bath Accessory Style', 'Bath Category', 'Bath Type', 'Bed & Bath Type', 'Brand', 'Category', 'Category of Business', 'Color Family', 'Fabric', 'Fabric Pattern', 'Fabric Property', 'Fill', 'Furniture Category', 'Home Categories', 'Kitchen Type', 'Material', 'NRF_ID', 'Outdoor Accessories', 'Product Color', 'Rug Color', 'Rug Construction', 'Rug Size', 'Rug Style', 'Rug Type', 'Rugs Pattern', 'Style', 'Sub Brand']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

# Reload for QA

In [62]:
reloaded_df = pd.read_hdf(SAVE_OUTPUT_AS,key="macys_rug_images")
print("\n", "shape reloaded", reloaded_df.shape)
reloaded_df.head()

 shape reloaded (22857, 31)

,PRODUCT_ID,IMAGE_ID,IMAGE_FILE,Area Rugs,Bath Accessory Style,Bath Category,Bath Type,Bed & Bath Type,Brand,Category,...,Outdoor Accessories,Product Color,Rug Color,Rug Construction,Rug Size,Rug Style,Rug Type,Rugs Pattern,Style,Sub Brand
0,7797410,11181817,7/7/7797410_11181817.jpg,true,NaN,NaN,NaN,NaN,Bob Mackie,AREA_RUG,...,NaN,NaN,Blue,NaN,5x8,Indoor,NaN,Oriental,Traditional,NaN
1,7797410,11181813,7/7/7797410_11181813.jpg,true,NaN,NaN,NaN,NaN,Bob Mackie,AREA_RUG,...,NaN,NaN,Blue,NaN,5x8,Indoor,NaN,Oriental,Traditional,NaN
2,7797411,11181817,7/7/7797411_11181817.jpg,true,NaN,NaN,NaN,NaN,Bob Mackie,AREA_RUG,...,NaN,NaN,Blue,NaN,8x10,Indoor,NaN,Oriental,Traditional,NaN
3,7797411,11181813,7/7/7797411_11181813.jpg,true,NaN,NaN,NaN,NaN,Bob Mackie,AREA_RUG,...,NaN,NaN,Blue,NaN,8x10,Indoor,NaN,Oriental,Traditional,NaN
4,7797409,11181817,7/7/7797409_11181817.jpg,true,NaN,NaN,NaN,NaN,Bob Mackie,AREA_RUG,...,NaN,NaN,Blue,NaN,3x5,Indoor,NaN,Oriental,Traditional,NaN

In [63]:
reloaded_df['Category'].unique()

array(['AREA_RUG', 'BATH_RUG', 'RUG'], dtype=object)

In [64]:
prod_types = ['AREA_RUG', 'BATH_RUG', 'RUG']
for cat in SELECTED_CATEGORIES:
    tmp_df = reloaded_df[reloaded_df['Category'].isin(prod_types)]
    print(cat, len(tmp_df))

BATH_RUGS 22857
RUG 22857
AREA_AREA_RUG 22857
AREA_RUG 22857
BATH_RUG 22857

In [68]:
for attr in viz_df.columns[3:]:
    print(attr)
    print(viz_df[attr].value_counts())

Area Rugs
true    20192
Name: Area Rugs, dtype: int64
Bath Accessory Style
Bathroom Sets    7
Name: Bath Accessory Style, dtype: int64
Bath Category
Bath Rugs                          2088
Bath Rugs, Towels                    75
Bath Rugs, Bathroom Accessories      18
Bath Rugs, Shower Curtains           10
Towels                                9
Bathroom Accessories                  5
Name: Bath Category, dtype: int64
Bath Type
Solid      103
Kids         6
Holiday      2
Fashion      1
Name: Bath Type, dtype: int64
Bed & Bath Type
Bath    2210
Name: Bed & Bath Type, dtype: int64
Brand
Surya                             9174
Oriental Weavers                  1862
Macy's Fine Rug Gallery           1167
Loloi                             1107
Liora Manne'                       974
Karastan                           787
KM Home                            684
Castle Hill London                 653
Nourison                           562
Safavieh                           511
Kas                                371
JHB Design                         346
Dalyn                              324
Couristan                          301
Kathy Ireland                      250
Tommy Bahama Home                  235
Hotel Collection                   223
Kenneth Mink                       207
Orian Rugs                         168
Libby Langdon                      164
Perthshire Platinum Collection     160
Bacova                             147
Momeni                             136
D Style                            124
Bungalow Flooring                  122
Novogratz Collection               118
Madison Park                       117
Justina Blakeney                   116
Martha Stewart Collection          102
Charter Club                        97
                                  ...
bluebellgray                        15
John Robshaw                        13
WellnessMats                        12
Saturday Knight                     10
Croscill                            10
Goodful                             10
Linum Home                           9
Tervis Tumbler                       9
Dena                                 8
Lamont                               6
Bath Bliss                           6
Jay Franco                           5
Global Goods Partners                5
French Connection                    5
Jeanne Pierre                        5
Chilewich                            4
Eagles Wings                         3
Nautica                              3
Dream Factory                        3
kate spade new york                  3
Conair                               3
Maples                               3
Winning Streak                       2
Michael Aram                         2
Lenox                                2
Creative Bath                        2
CHF INDUSTRIES INC                   1
Betsey Johnson                       1
Bardwil                              1
HipStyle                             1
Name: Brand, Length: 88, dtype: int64
Category
AREA_RUG    20608
BATH_RUG     2199
RUG            50
Name: Category, dtype: int64
Category of Business
Home                20276
Home, Bed & Bath     2528
Men's                  14
Home, Kitchen          12
Home, Dining            4
Furniture, Home         2
Home, Men's             1
Name: Category of Business, dtype: int64
Color Family
Blue                                                  3280
Gray                                                  2232
Tan/Beige                                             2112
Multi                                                 1043
Green                                                  767
Brown                                                  740
Tan/Beige, White, Blue, Green, Ivory/Cream, Silver     675
Red                                                    561
Black                                                  556
Orange                                                 480
Pink                                                   380
White                                                  262
Blue, Gray                                             261
Blue, Gray, Tan/Beige                                  237
Blue, Tan/Beige                                        229
Ivory/Cream                                            217
Yellow                                                 203
Tan/Beige, Blue, Red                                   164
Gold                                                   152
Blue, Red                                              144
Tan/Beige, Gray                                        134
Purple                                                 124
Blue, Ivory/Cream                                      108
Blue, Brown                                            102
Blue, Orange                                           101
Gray, White                                             80
Blue, Gray, Green, Multi                                73
Blue, Gray, Ivory/Cream                                 72
Blue, Gray, White                                       69
Blue, Multi                                             66
                                                      ...
Silver, Blue, Tan/Beige, Ivory/Cream                     4
Purple, Multi, Orange                                    4
Blue, Yellow, Black                                      4
Gray, Brown, Multi                                       4
Blue, Yellow, Pink                                       4
Tan/Beige, White, Silver                                 4
Blue, Gray, Green                                        4
Blue, Brown, Yellow                                      4
Blue, Tan/Beige, Pink                                    3
Green, Brown, Black                                      3
Blue, Gray, Red                                          3
Tan/Beige, Gray, White                                   3
Blue, Red, Yellow                                        3
Brown, Red, Black                                        3
Blue, Multi, Silver                                      3
Green, Blue, Brown                                       3
Blue, Gray, Red, Yellow                                  3
Blue, Green, Purple                                      3
Purple, Gray                                             3
Blue, Gray, Purple                                       3
Gray, White, Green                                       3
Gray, Black                                              2
Brown, Black                                             2
Yellow, Silver                                           2
Multi, Black                                             2
Multi, Pink                                              2
Red, Blue, Gray, Green, Black, Pink, Brown               2
Brown, Yellow                                            2
Blue, Green                                              2
Tan/Beige, Blue, Multi, Brown, Orange                    1
Name: Color Family, Length: 295, dtype: int64
Fabric
Cotton                                  701
Polyester                               105
Skid Resistant                           54
Synthetic, Cotton                        37
Synthetic                                32
Turkish Cotton, Cotton                   30
Pima Cotton, Cotton                      29
Synthetic, Polyester, Skid Resistant     21
Nylon                                    20
Skid Resistant, Cotton                   19
Cotton Blend                             13
Synthetic, Polyester                     10
Acrylic                                   6
Faux Fur                                  5
Turkish Cotton                            4
Cotton/Polyester, Polyester, Cotton       4
Chenille                                  4
Poly Blend                                1
Name: Fabric, dtype: int64
Fabric Pattern
Solid             39
Stripe            18
Floral            14
Bohemian           8
Holiday            6
Geometric          3
Coastal            3
Animal Print       3
Floral, Stripe     1
Name: Fabric Pattern, dtype: int64
Fabric Property
Reversible                           72
Ultra-Soft                           44
Quick Drying                         41
Moisture Wicking, Water Resistant     8
Name: Fabric Property, dtype: int64
Fill
Cotton       46
Polyester     4
Foam          1
Name: Fill, dtype: int64
Furniture Category
Outdoor Accessories    797
Name: Furniture Category, dtype: int64
Home Categories
Rugs                     20270
Bath                      2535
Rugs, Bath                  22
Kitchen                     12
Dining & Entertaining        5
Name: Home Categories, dtype: int64
Kitchen Type
Kitchen Gadgets    12
Name: Kitchen Type, dtype: int64
Material
Acrylic                             6
Aluminum/Cast Aluminum, Aluminum    4
Name: Material, dtype: int64
NRF_ID
20                                       1157
440                                      1028
60                                       1007
250                                       987
0                                         848
400                                       762
960                                       726
200                                       698
240                                       538
450, 100, 215, 45, 105, 338, 440, 255     533
600                                       528
401                                       487
300                                       485
410                                       388
800                                       376
460                                       293
1                                         274
280                                       237
260                                       196
750                                       193
961                                       163
998                                       155
840                                       137
690                                       133
650                                       130
100                                       122
110                                       122
270                                       122
340                                       120
30                                        114
                                         ...
654                                         1
160                                         1
60, 960                                     1
329                                         1
485                                         1
408                                         1
215                                         1
424                                         1
264                                         1
31                                          1
17                                          1
100, 400, 410, 200, 20                      1
269                                         1
607                                         1
39                                          1
454                                         1
451                                         1
180                                         1
274                                         1
415                                         1
214                                         1
587                                         1
424, 810, 212, 246, 243, 441, 245           1
712                                         1
930                                         1
676                                         1
445                                         1
660                                         1
671                                         1
491                                         1
Name: NRF_ID, Length: 657, dtype: int64
Outdoor Accessories
Outdoor Rugs    790
Name: Outdoor Accessories, dtype: int64
Product Color
White, Blue, Gray, Green, Ivory/Cream, Brown                            68
Tan/Beige, White, Red, Blue, Gray, Green, Purple, Ivory/Cream, Brown    57
Gray                                                                    28
Red, Blue, Green, Ivory/Cream, Brown, Yellow, Orange                    11
Name: Product Color, dtype: int64
Rug Color
Multi                                            11412
Blue                                              1487
Gray                                              1227
Ivory/Cream                                        768
Brown                                              606
Tan/Beige                                          517
Green                                              438
Red                                                334
Black                                              222
Orange                                             177
Blue, Ivory/Cream                                  167
Blue, Gray                                         141
Blue, Multi                                        127
Tan/Beige, Multi                                   108
Gray, Ivory/Cream                                  107
Gold                                                85
Tan/Beige, Ivory/Cream                              71
Purple                                              69
Blue, Green                                         58
Blue, Tan/Beige                                     58
Red, Ivory/Cream                                    58
Multi, Ivory/Cream                                  57
Gray, Gold                                          56
Yellow                                              46
Multi, Black                                        46
Multi, Brown                                        45
Gray, Multi                                         45
Gray, Black                                         43
Pink                                                42
Brown, Ivory/Cream                                  40
                                                 ...
Blue, White                                          2
Multi, Red, Black                                    2
Blue, Gold, Black                                    2
Gray, Yellow                                         2
Purple, Orange                                       2
Green, Red, Gold, Ivory/Cream                        2
Purple, Gray                                         2
Brown, Orange                                        2
Silver, Ivory/Cream                                  2
Purple, Tan/Beige                                    2
Purple, Multi, Green                                 1
Tan/Beige, Multi, Red                                1
Silver, Tan/Beige, Gray, Ivory/Cream                 1
Multi, Brown, Ivory/Cream                            1
Gray, Red                                            1
Purple, Gray, Multi                                  1
Tan/Beige, Green                                     1
Blue, Multi, Green                                   1
Blue, Multi, Brown                                   1
Tan/Beige, White, Ivory/Cream                        1
Green, Black                                         1
White, Brown                                         1
Blue, Purple, Red, Ivory/Cream                       1
Purple, Gray, Silver                                 1
Gray, Brown, Multi                                   1
Red, Green, Black, Gold, Brown                       1
Tan/Beige, Gray, Ivory/Cream, Silver, Orange         1
Silver, Blue, Gray, Pink                             1
Red, Blue, Purple, Ivory/Cream, Multi, Orange        1
Multi, Red, Ivory/Cream                              1
Name: Rug Color, Length: 113, dtype: int64
Rug Construction
Tufted                       174
Shag Rugs                     55
Tufted, Handmade Rugs         40
Handmade Rugs                 36
Flat Woven, Handmade Rugs      8
Hand Knotted                   3
Name: Rug Construction, dtype: int64
Rug Size
8x10                          3041
5x8                           2847
Runner                        2169
2x3                           1818
4x6                           1454
9x12                          1284
Rug Swatch                     995
3x5                            917
Round                          776
10x13                          709
7x9                            633
Square                         459
6x9                            340
12x15                          241
Rug Sets                        70
7x9, 8x10                       59
8x10, 9x12                      59
10x13, 9x12                     34
Doormat                         28
6x9, 7x9                        24
7x9, Round                      14
Square, Rug Swatch              11
Round, Runner                    8
Round, 10x13                     8
Runner, 5x8                      4
Round, 10x13, Runner             4
10x13, Runner                    4
7x9, 3x5                         4
8x10, Runner                     3
Rug Swatch, 5x8                  3
Runner, Rug Sets, 3x5, 5x8       3
12x15, 9x12                      3
8x10, Rug Swatch                 3
Rug Sets, Runner                 2
Rug Swatch, 2x3                  2
Doormat, 2x3                     2
Square, 9x12                     1
Name: Rug Size, dtype: int64
Rug Style
Indoor                       14702
Bath                          1576
Outdoor, Indoor               1041
Kitchen, Indoor               1003
Shag                           731
Accent                         297
Outdoor                        284
Kids, Shag                      93
Doormats                        77
Accent, Bath                    72
Natural                         72
Natural, Indoor                 70
Rug Sets, Indoor                51
Doormats, Outdoor               33
Rug Sets                        28
Accent, Kitchen                 19
Rug Sets, Bath                  18
Outdoor, Doormats, Indoor       13
Novelty                          6
Novelty, Indoor                  5
Kids                             5
Shag, Indoor                     2
Kitchen                          2
Accent, Doormats                 1
Accent, Doormats, Outdoor        1
Name: Rug Style, dtype: int64
Rug Type
Medium             739
Small              342
Bath               234
Large              173
Medium, Contour     22
Bath, Contour       12
Small, Contour       8
Medium, Small        6
Holiday              3
Medium, Holiday      1
Name: Rug Type, dtype: int64
Rugs Pattern
Oriental                                6081
Geometric                               3932
Solid                                   2786
Abstract                                2550
Patterned                               1519
Floral                                  1410
Striped                                  849
Bordered                                 300
Global Inspired                          274
Striped, Solid                           229
Chevron                                  138
Coastal                                  119
Patterned, Solid                          94
Damask                                    48
Animal Print                              41
Geometric, Patterned                      40
Bordered, Solid                           30
Oriental, Global Inspired                 29
Holiday                                   21
Patterned, Damask                         20
Abstract, Patterned                       20
Striped, Patterned                        17
Floral, Oriental                          14
Abstract, Geometric                       11
Floral, Patterned                         10
Global Inspired, Patterned                 8
Oriental, Abstract                         7
Abstract, Solid                            6
Global Inspired, Abstract                  4
Floral, Bordered                           4
Abstract, Bordered                         4
Holiday, Solid                             3
Holiday, Patterned                         2
Oriental, Global Inspired, Patterned       2
Bordered, Damask                           2
Oriental, Patterned                        2
Name: Rugs Pattern, dtype: int64
Style

In [70]:
final_rug_cols = [
    'PRODUCT_ID', 'IMAGE_ID', 'IMAGE_FILE', 'Brand', 'Category', 'Color Family', 'Fabric', 
    'Fabric Pattern', 'Fabric Property', 'Material','Product Color', 'Rug Color', 'Rug Construction', 
    'Rug Size', 'Rug Style', 'Rug Type', 'Rugs Pattern', 'Style', 'Sub Brand']
filtered_rug_df = viz_df[final_rug_cols]

In [75]:
print(filtered_rug_df.dropna(subset=['Rug Style']).shape)
filtered_rug_df['Rug Style'].value_counts()

(20202, 19)

Indoor                       14702
Bath                          1576
Outdoor, Indoor               1041
Kitchen, Indoor               1003
Shag                           731
Accent                         297
Outdoor                        284
Kids, Shag                      93
Doormats                        77
Accent, Bath                    72
Natural                         72
Natural, Indoor                 70
Rug Sets, Indoor                51
Doormats, Outdoor               33
Rug Sets                        28
Accent, Kitchen                 19
Rug Sets, Bath                  18
Outdoor, Doormats, Indoor       13
Novelty                          6
Novelty, Indoor                  5
Kids                             5
Shag, Indoor                     2
Kitchen                          2
Accent, Doormats                 1
Accent, Doormats, Outdoor        1
Name: Rug Style, dtype: int64

In [76]:
print(filtered_rug_df.dropna(subset=['Style']).shape)
filtered_rug_df['Style'].value_counts()

(18825, 19)

Modern                                                  8023
Traditional                                             4549
Freestyle                                               4214
Casual, Modern, Transitional                             382
Traditional, Modern                                      284
Transitional                                             226
Casual                                                   171
Casual, Modern                                           171
Modern, Freestyle                                        160
Modern, Transitional                                     120
Transitional, Freestyle, Modern, Casual, Traditional     119
Casual, Traditional, Modern                               91
Transitional, Freestyle                                   76
Traditional, Modern, Freestyle                            70
Casual, Modern, Transitional, Freestyle                   61
Modern, Transitional, Freestyle                           53
Casual, Transitional, Freestyle                           30
Traditional, Transitional                                 21
Traditional, Modern, Transitional                          2
Traditional, Freestyle                                     1
Farmhouse                                                  1
Name: Style, dtype: int64