In [1]:
import numpy as np
import pandas as pd

In [2]:
!ls *.h5

raw_attribute_data_shrek_cleaned.h5  raw_text_data_shrek.h5
raw_attribute_data_shrek.h5	     RUGS_IDM_1118_and_0119_DATA.h5
raw_image_data_denis.h5		     RUGS_IDM_Nov2018_DATA.h5
raw_image_data_patrick.h5	     RUGS_VALIDATION_DATA.h5

In [4]:
textdf = pd.read_hdf('raw_text_data_shrek.h5')
textdf.head()

   PROD_ID               ATTR_NAME              ATTR_VAL
0        1            PRODUCT_NAME                     X
1        1  PRODUCT_TYPE_HIERARCHY      Apparel -> Dress
2        2            PRODUCT_NAME  FRNT & BACK STUDS  2
3        2  PRODUCT_TYPE_HIERARCHY      Apparel -> Dress
4        3            PRODUCT_NAME  IYB W/ NEW HEAT CUFF

In [6]:
textdf['ATTR_NAME'].unique()

array(['PRODUCT_NAME', 'PRODUCT_TYPE_HIERARCHY', 'Bullet Text', 'Keyword',
       'Member Description', 'PDF Email Description',
       'Product Long Description', 'Fabric Content',
       'Registry Bullet Text', 'Dimension Bullet Text',
       'From My Home to Yours'], dtype=object)

In [7]:
long_desc = textdf.query('ATTR_NAME == "Product Long Description"')
long_desc.head()

,PROD_ID,ATTR_NAME,ATTR_VAL
61,45,Product Long Description,The signature Ralph Lauren brand. A true class...
73,48,Product Long Description,The signature Ralph Lauren brand. A true class...
77,55,Product Long Description,Good for maturing skins. A two-phase toner tha...
81,62,Product Long Description,Good for maturing skin. A pure and potent enca...
89,65,Product Long Description,Prepare to be impressed. This super-moisturize...

In [10]:
long_desc.loc[89,'ATTR_VAL']

"Prepare to be impressed. This super-moisturizer has proven itself. It minimizes the visible signs of aging so your skin can reveal its true radiance. Researchers found that the natural production of Ceramides, collagen, elastin and essential nutrients like calcium all contribute to skin's healthy vitality, but can be compromised by age and environmental aggression. "

In [11]:
prod_names = textdf.query('ATTR_NAME == "PRODUCT_NAME"')
prod_names.head()

   PROD_ID     ATTR_NAME              ATTR_VAL
0        1  PRODUCT_NAME                     X
2        2  PRODUCT_NAME  FRNT & BACK STUDS  2
4        3  PRODUCT_NAME  IYB W/ NEW HEAT CUFF
5        4  PRODUCT_NAME  CRISSCROSS FRONT OTT
6        5  PRODUCT_NAME  OTTOMAN DRESS W/LACE

In [15]:
prod65 = textdf.query('PROD_ID == 65')
prod65

,PROD_ID,ATTR_NAME,ATTR_VAL
84,65,Bullet Text,A unique combination of Ceramides 1 and 3 help...
85,65,Bullet Text,Boosts skin's hydration level over 450% after ...
86,65,Bullet Text,Provides skin-essential moisture all day long ...
87,65,Bullet Text,Reduces the appearance of fine lines and wrink...
88,65,PDF Email Description,Elizabeth Arden Ceramide Time Complex Moisture...
89,65,Product Long Description,Prepare to be impressed. This super-moisturize...
90,65,PRODUCT_NAME,Elizabeth Arden Ceramide Time Complex Moisture...
91,65,PRODUCT_TYPE_HIERARCHY,Cosmetics -> Skincare

In [16]:
prod65.loc[90,'ATTR_VAL']

'Elizabeth Arden Ceramide Time Complex Moisture Cream, 1.7 fl. oz./ 50 ml'

In [17]:
long_desc.loc[89,'ATTR_VAL']

"Prepare to be impressed. This super-moisturizer has proven itself. It minimizes the visible signs of aging so your skin can reveal its true radiance. Researchers found that the natural production of Ceramides, collagen, elastin and essential nutrients like calcium all contribute to skin's healthy vitality, but can be compromised by age and environmental aggression. "

In [22]:
bullet65 = prod65.query('ATTR_NAME == "Bullet Text"')['ATTR_VAL'].tolist()
bullet65

["A unique combination of Ceramides 1 and 3 helps maintain skin's moisture all day long and smoothes fine lines and wrinkles. ",
 "Boosts skin's hydration level over 450% after just one hour. ",
 'Provides skin-essential moisture all day long (up to 15 hours). ',
 'Reduces the appearance of fine lines and wrinkles. ']

In [ ]:
textbyid = textdf.groupby('PROD_ID')