In [1]:
import os
import numpy as np
import pandas as pd
from tabulate import tabulate
from collections import OrderedDict

In [2]:
!ls /home/jovyan/data/yh09262/hive_tables

cm_cart_item_addition_300000.csv  cm_product_view.csv
cm_cart_item_addition.csv	  cm_session_first_page_view_300000.csv
cm_cart_item_purchase_300000.csv  cm_session_first_page_view.csv
cm_cart_item_purchase.csv	  cm_table_desc.txt
cm_describe.sh			  cm_table_desc.txt1
cm_order_300000.csv		  cm_tables.sh
cm_order.csv			  cm_technical_properties_300000.csv
cm_page_view_300000.csv		  cm_technical_properties.csv
cm_page_view.csv		  ltrfc_tables.txt
cm_product_view_300000.csv	  pros_tables.txt

In [3]:
!ls /home/jovyan/work/yh09262/data_wrangling/Data_Explore_PROS/table_info

cm_cart_item_addition.head	 cm_table_desc.txt
cm_cart_item_purchase.head	 cm_table_desc.txt1
cm_order.head			 cm_technical_properties.head
cm_page_view.head		 ltrfc_tables.txt
cm_product_view.head		 pros_tables.txt
cm_session_first_page_view.head

In [4]:
COL_PATH = '/home/jovyan/work/yh09262/data_wrangling/Data_Explore_PROS/table_info/'
DATA_PATH = '/home/jovyan/data/yh09262/hive_tables/'

In [34]:
headers = [x for x in os.listdir(COL_PATH) if '.head' in x]
print(headers)

['cm_cart_item_addition.head', 'cm_cart_item_purchase.head', 'cm_order.head', 'cm_page_view.head', 'cm_product_view.head', 'cm_session_first_page_view.head', 'cm_technical_properties.head']

In [6]:
def read_table(table_name,col_path=COL_PATH,data_path=DATA_PATH):
    cols = pd.read_csv(col_path + table_name + '.head',delimiter='\n',header=None)
    cols = list(cols[0].str.replace(' ',''))
    df = pd.read_csv(data_path + table_name + '.csv',delimiter='\t',header=None,names=cols)
    return df

In [7]:
tables = ['cm_cart_item_addition', 'cm_cart_item_purchase', 'cm_order', 'cm_page_view', 
          'cm_product_view', 'cm_session_first_page_view', 'cm_technical_properties']

In [10]:
dfs = OrderedDict()
for table in tables:
    df = read_table(table)
    dfs[table] = df
    print("First 5 cols of table: {}".format(table),'\n')
    print(df.iloc[:3,:3].head(3))
    print()

First 5 cols of table: cm_cart_item_addition

            session_id                cookie_id           time_stamp
0  9217800728345908648  70011322537359285833394  2016-01-01 21:08:47
1  4409075959299861476  50141447084845269221713  2016-01-01 10:50:22
2  4409075959299861476  50141447084845269221713  2016-01-01 10:50:22

First 5 cols of table: cm_cart_item_purchase

            session_id              cookie_id\t         time_stamp\t
0  2571698427345488965  80211446930224111357139  2016-01-01 10:30:54
1  6827442807272066229  80181451512302024419852  2016-01-01 10:30:14
2  6827442807272066229  80181451512302024419852  2016-01-01 10:30:14

First 5 cols of table: cm_order

            session_id                cookie_id           time_stamp
0  3048065827160227360  30241451664255132801191  2016-01-01 13:54:20
1  1507148013779648036  70161408430383081323035  2016-01-01 01:18:01
2  8529498655356744333  80231451627337104548354  2016-01-01 01:15:41

First 5 cols of table: cm_page_view

            session_id                cookie_id           time_stamp
0  7876073517023619426  70201388324039265914910  2016-01-01 14:31:45
1  7876073517023619426  70201388324039265914910  2016-01-01 14:31:49
2  7876073517023619426  70201388324039265914910  2016-01-01 14:31:34

First 5 cols of table: cm_product_view

            session_id                cookie_id           time_stamp
0  2191547782369561378  80051449371123186721211  2016-01-01 01:58:05
1  4315952197258505225  80181451704994294037245  2016-01-01 22:26:22
2  2191547782369561378  80051449371123186721211  2016-01-01 01:59:52

First 5 cols of table: cm_session_first_page_view

            session_id                cookie_id     first_time_stamp
0  2767225268392960079  70141436151399250810487                  NaN
1  5228725411223029735  70041438054972260410926                  NaN
2  2756208375032256356  80031455681922137127685  2016-02-16 23:05:22

First 5 cols of table: cm_technical_properties

            session_id                cookie_id           time_stamp
0  3853468558508097892  80071451672811212377046  2016-01-01 13:26:52
1  3783668239017486942  30181389064182188733740  2016-01-01 21:29:15
2  3188435165366902929  30021399497357024113755  2016-01-01 13:17:53

In [9]:
tables

['cm_cart_item_addition',
 'cm_cart_item_purchase',
 'cm_order',
 'cm_page_view',
 'cm_product_view',
 'cm_session_first_page_view',
 'cm_technical_properties']

In [13]:
dfs['cm_product_view'].columns

Index(['session_id', 'cookie_id', 'time_stamp', 'product_name', 'product_id',
       'page_id', 'product_category_id', 'product_category',
       'product_category_top', 'product_category_bottom', 'site_id',
       'product_view_attribute_1', 'product_view_attribute_2',
       'product_view_attribute_3', 'product_view_attribute_4',
       'product_view_attribute_5', 'product_view_attribute_6',
       'product_view_attribute_7', 'product_view_attribute_8',
       'product_view_attribute_9', 'product_view_attribute_10',
       'product_view_attribute_11', 'product_view_attribute_12',
       'product_view_attribute_13', 'product_view_attribute_14',
       'product_view_attribute_15', 'product_view_attribute_16',
       'product_view_attribute_17', 'product_view_attribute_18',
       'product_view_attribute_19', 'product_view_attribute_20',
       'product_view_attribute_21', 'product_view_attribute_22',
       'product_view_attribute_23', 'product_view_attribute_24',
       'product_view_attribute_25', 'product_view_attribute_26',
       'product_view_attribute_27', 'product_view_attribute_28',
       'product_view_attribute_29', 'product_view_attribute_30',
       'product_view_attribute_31', 'product_view_attribute_32',
       'product_view_attribute_33', 'product_view_attribute_34',
       'product_view_attribute_35', 'product_view_attribute_36',
       'product_view_attribute_37', 'product_view_attribute_38',
       'product_view_attribute_39', 'product_view_attribute_40',
       'product_view_attribute_41', 'product_view_attribute_42',
       'product_view_attribute_43', 'product_view_attribute_44',
       'product_view_attribute_45', 'product_view_attribute_46',
       'product_view_attribute_47', 'product_view_attribute_48',
       'product_view_attribute_49', 'product_view_attribute_50', 'event_date',
       'time', 'hour', 'etl_crt_ts', 'etl_upd_ts', 'etl_batch_id', 'dt'],
      dtype='object')

In [42]:
print(dfs['cm_cart_item_purchase'].columns)

Index(['session_id', 'cookie_id\t', 'time_stamp\t', 'product_id\t',
       'product_name\t', 'product_category\t', 'product_category_id\t',
       'product_category_top\t', 'product_category_bott', 'base_price\t',
       'quantity\t', 'order_id\t', 'site_id\t', 'purchase_attribute_1\t',
       'purchase_attribute_2\t', 'purchase_attribute_3\t',
       'purchase_attribute_4\t', 'purchase_attribute_5\t',
       'purchase_attribute_6\t', 'purchase_attribute_7\t',
       'purchase_attribute_8\t', 'purchase_attribute_9\t',
       'purchase_attribute_10', 'purchase_attribute_11',
       'purchase_attribute_12', 'purchase_attribute_13',
       'purchase_attribute_14', 'purchase_attribute_15',
       'purchase_attribute_16', 'purchase_attribute_17',
       'purchase_attribute_18', 'purchase_attribute_19',
       'purchase_attribute_20', 'purchase_attribute_21',
       'purchase_attribute_22', 'purchase_attribute_23',
       'purchase_attribute_24', 'purchase_attribute_25',
       'purchase_attribute_26', 'purchase_attribute_27',
       'purchase_attribute_28', 'purchase_attribute_29',
       'purchase_attribute_30', 'purchase_attribute_31',
       'purchase_attribute_32', 'purchase_attribute_33',
       'purchase_attribute_34', 'purchase_attribute_35',
       'purchase_attribute_36', 'purchase_attribute_37',
       'purchase_attribute_38', 'purchase_attribute_39',
       'purchase_attribute_40', 'purchase_attribute_41',
       'purchase_attribute_42', 'purchase_attribute_43',
       'purchase_attribute_44', 'purchase_attribute_45',
       'purchase_attribute_46', 'purchase_attribute_47',
       'purchase_attribute_48', 'purchase_attribute_49',
       'purchase_attribute_50', 'event_date\t', 'time\t', 'hour\t',
       'etl_crt_ts\t', 'etl_upd_ts\t', 'etl_batch_id\t', 'dt'],
      dtype='object')

In [24]:
dfs['cm_cart_item_purchase'].head(2)

,session_id,cookie_id,time_stamp,product_id,product_name,product_category,product_category_id,product_category_top,product_category_bott,base_price,...,purchase_attribute_48,purchase_attribute_49,purchase_attribute_50,event_date,time,hour,etl_crt_ts,etl_upd_ts,etl_batch_id,dt
0,2571698427345488965,80211446930224111357139,2016-01-01 10:30:54,2280308,INC INTERNATIONAL CONCEPTS SEAMED PULL-ON PONT...,ROOT_CATEGORY > WOMEN > WOMEN'S CLOTHING > PANTS,157,ROOT_CATEGORY,PANTS,24.75,...,NaN,NaN,NaN,2016-01-01,10:30:54,10,2016-04-15 12:44:16,2016-04-15 12:44:16,1,20160101
1,6827442807272066229,80181451512302024419852,2016-01-01 10:30:14,106363,MAC LIPSTICK 0.1 OZ,MEW MACY'S > MEW_MACY'S_NAVIGATION > MEW_BEAUT...,MEW_46593,MEW MACY'S,MEW_LIPSTICK,17.00,...,NaN,NaN,NaN,2016-01-01,10:30:14,10,2016-04-15 12:44:16,2016-04-15 12:44:16,1,20160101

In [30]:
dfs['cm_cart_item_purchase']['purchase_attribute_1\t'][2]

'POS14 | CL0011 | 5F0D609D-39DC-42B4-8C61-2F0122FDE61E | H5 | 30077'

In [12]:
dfs['cm_product_view'].head(2)

,session_id,cookie_id,time_stamp,product_name,product_id,page_id,product_category_id,product_category,product_category_top,product_category_bottom,...,product_view_attribute_48,product_view_attribute_49,product_view_attribute_50,event_date,time,hour,etl_crt_ts,etl_upd_ts,etl_batch_id,dt
0,2191547782369561378,80051449371123186721211,2016-01-01 01:58:05,TOMMY HILFIGER TOPSTITCHED WOOL WALKER COAT,2187465,PRODUCT: TOMMY HILFIGER TOPSTITCHED WOOL WALKE...,269,ROOT_CATEGORY > WOMEN > WOMEN'S CLOTHING > COATS,ROOT_CATEGORY,COATS,...,NaN,NaN,NaN,2016-01-01,01:58:05,1,2016-04-15 15:40:19,2016-04-15 15:40:19,1,20160101
1,4315952197258505225,80181451704994294037245,2016-01-01 22:26:22,MICHAEL MICHAEL KORS MADISON CASHMERE-BLEND OV...,1048510,PRODUCT: MICHAEL MICHAEL KORS MADISON CASHMERE...,3763,ROOT_CATEGORY > MEN > MEN'S CLOTHING > COATS &...,ROOT_CATEGORY,COATS & JACKETS,...,NaN,NaN,NaN,2016-01-01,22:26:22,22,2016-04-15 15:39:38,2016-04-15 15:39:38,1,20160101

In [23]:
dfs['cm_product_view']['product_view_attribute_1'][2]

'POS1 | 6N0011 | D1AE2FA9-DD91-4C4F-8B8D-E8AFB7F3B711 | H7 | 269'

In [22]:
dfs['cm_product_view'].loc[:,['product_view_attribute_1','dt']]

                             product_view_attribute_1        dt
0                                                 NaN  20160101
1                                                 NaN  20160101
2   POS1 | 6N0011 | D1AE2FA9-DD91-4C4F-8B8D-E8AFB7...  20160101
3                                                 NaN  20160101
4                                                 NaN  20160101
5                                                 NaN  20160101
6   POS1 | 6N0011 | DA193B84-3F9F-4F3C-A276-5ED6E4...  20160101
7                                                 NaN  20160101
8                                                 NaN  20160101
9                                                 NaN  20160101
10  POS1 | 6N0011 | 369290BD-B12E-420B-91BF-611FD9...  20160101
11                                                NaN  20160101
12  POS1 | 6N0011 | 369290BD-B12E-420B-91BF-611FD9...  20160101
13                                                NaN  20160101
14  POS2 | 7L0011 | 20614661-0E49-4DEC-B8BD-05104B...  20160101
15  POS2 | 6N0011 | 8064A6D9-D0C3-4974-B860-1AADFC...  20160101
16                                                NaN  20160101
17                                                NaN  20160101
18  POS5 | 7L0011 | 5153927B-1E5A-4DAC-9DAF-799582...  20160101
19                                                NaN  20160101
20  POS3 | 6N0011 | 0F6773A3-5432-4B2E-B03F-8E0D1D...  20160101
21                                                NaN  20160101
22  POS2 | 7L0011 | 4A337617-FD97-402A-8295-5EED88...  20160101
23                                                NaN  20160101
24  POS1 | 6N0011 | 2780DD7C-1296-4325-A530-E327D9...  20160101
25                                                NaN  20160101
26                                                NaN  20160101
27                                                NaN  20160101
28  POS4 | 7L0011 | 32AAF2B9-2D98-4C80-89F4-97B3F9...  20160101
29                                                NaN  20160101
..                                                ...       ...
70                                                NaN  20160101
71  POS1 | 6N0011 | 219A1B0C-A18E-4067-9EF2-58D70E...  20160101
72                                                NaN  20160101
73                                                NaN  20160101
74                                                NaN  20160101
75  POS2 | 6N0011 | E373D464-3B0D-4214-A789-41DDAE...  20160101
76                                                NaN  20160101
77                                                NaN  20160101
78  POS3 | 5V0011 | 2A93F7A8-4F40-4108-AB29-B16B21...  20160101
79                                                NaN  20160101
80  POS3 | 6N0011 | BE3B4593-4BDA-40D6-931C-9085DA...  20160101
81                                                NaN  20160101
82  POS3 | 7L0011 | 673D63B3-4C59-4943-8D97-061525...  20160101
83                                                NaN  20160101
84  POS1 | 6N0011 | C8E065E9-32C1-4CC3-9A46-DAFFE5...  20160101
85                                                NaN  20160101
86  POS10 | 7L0011 | A9918183-BCB1-4029-A22A-8A453...  20160101
87                                                NaN  20160101
88  POS2 | 6N0011 | 968C80ED-1246-40D3-94AD-067B92...  20160101
89                                                NaN  20160101
90                                                NaN  20160101
91                                                NaN  20160101
92                                                NaN  20160101
93                                                NaN  20160101
94  POS3 | 6N0011 | C1B07887-37B7-4AC0-AD26-2CE68E...  20160101
95                                                NaN  20160101
96  POS6 | 7L0011 | 523D099C-402F-4C85-8EFB-ECE5A8...  20160101
97                                                NaN  20160101
98  POS2 | 6N0011 | 2053D42A-B4F7-4FB0-A03E-2CBAE7...  20160101
99                                                NaN  20160101

[100 rows x 2 columns]

In [32]:
dfs['cm_session_first_page_view'].columns

Index(['session_id', 'cookie_id', 'first_time_stamp', 'first_referring_url',
       'first_destination_url', 'first_referral_type', 'ip_address',
       'time_stamp', 'referral_name', 'referring_url', 'referral_type',
       'natural_search_term', 'destination_url', 'user_agent', 'search_engine',
       'marketing_vendor', 'marketing_category', 'marketing_placement',
       'marketing_item', 'visitor_ad_impression_id', 'event_date', 'time',
       'hour', 'etl_crt_ts', 'etl_upd_ts', 'etl_batch_id', 'dt'],
      dtype='object')

In [33]:
dfs['cm_session_first_page_view'].dropna().head(2)

,session_id,cookie_id,first_time_stamp,first_referring_url,first_destination_url,first_referral_type,ip_address,time_stamp,referral_name,referring_url,...,marketing_placement,marketing_item,visitor_ad_impression_id,event_date,time,hour,etl_crt_ts,etl_upd_ts,etl_batch_id,dt
93,1203181591172825225,80241455681304064798976,2016-02-16 22:55:04,http://r.search.yahoo.com/cbclk2/dWU9ODUzN0FFQ...,http://www.macys.com/?cm_mmc=MSN_Bing_Trademar...,S,75.166.47.35,2016-02-16 22:55:04,YAHOO.COM,http://r.search.yahoo.com/cbclk2/dWU9ODUzN0FFQ...,...,5397313369_be,Macys.com_mkwid_eLCJa028r|dc_5397313369,50171435264330230591627,2016-02-16,22:55:04,22,2017-02-14 21:07:39,2017-02-14 21:07:39,1,20160216

In [41]:
headfiles = [COL_PATH + x for x in headers]
for fil in headfiles:
    tmp_cols = pd.read_csv(fil,delimiter='\n',header=None)
    tmp_cols = list(tmp_cols[0].str.replace(' ',''))
    if 'dt' in tmp_cols:
        print(fil, 'yes')
    else:
        print(fil, 'no')

/home/jovyan/work/yh09262/data_wrangling/Data_Explore_PROS/table_info/cm_cart_item_addition.head yes
/home/jovyan/work/yh09262/data_wrangling/Data_Explore_PROS/table_info/cm_cart_item_purchase.head yes
/home/jovyan/work/yh09262/data_wrangling/Data_Explore_PROS/table_info/cm_order.head yes
/home/jovyan/work/yh09262/data_wrangling/Data_Explore_PROS/table_info/cm_page_view.head yes
/home/jovyan/work/yh09262/data_wrangling/Data_Explore_PROS/table_info/cm_product_view.head yes
/home/jovyan/work/yh09262/data_wrangling/Data_Explore_PROS/table_info/cm_session_first_page_view.head yes
/home/jovyan/work/yh09262/data_wrangling/Data_Explore_PROS/table_info/cm_technical_properties.head yes

In [40]:
dfs['cm_cart_item_addition'].columns

Index(['session_id', 'cookie_id', 'time_stamp', 'product_id', 'product_name',
       'product_category', 'product_category_id', 'product_category_top',
       'product_category_bottom', 'base_price', 'quantity', 'order_id',
       'site_id', 'cart_attribute_1', 'cart_attribute_2', 'cart_attribute_3',
       'cart_attribute_4', 'cart_attribute_5', 'cart_attribute_6',
       'cart_attribute_7', 'cart_attribute_8', 'cart_attribute_9',
       'cart_attribute_10', 'cart_attribute_11', 'cart_attribute_12',
       'cart_attribute_13', 'cart_attribute_14', 'cart_attribute_15',
       'cart_attribute_16', 'cart_attribute_17', 'cart_attribute_18',
       'cart_attribute_19', 'cart_attribute_20', 'cart_attribute_21',
       'cart_attribute_22', 'cart_attribute_23', 'cart_attribute_24',
       'cart_attribute_25', 'cart_attribute_26', 'cart_attribute_27',
       'cart_attribute_28', 'cart_attribute_29', 'cart_attribute_30',
       'cart_attribute_31', 'cart_attribute_32', 'cart_attribute_33',
       'cart_attribute_34', 'cart_attribute_35', 'cart_attribute_36',
       'cart_attribute_37', 'cart_attribute_38', 'cart_attribute_39',
       'cart_attribute_40', 'cart_attribute_41', 'cart_attribute_42',
       'cart_attribute_43', 'cart_attribute_44', 'cart_attribute_45',
       'cart_attribute_46', 'cart_attribute_47', 'cart_attribute_48',
       'cart_attribute_49', 'cart_attribute_50', 'event_date', 'time', 'hour',
       'etl_crt_ts', 'etl_upd_ts', 'etl_batch_id', 'dt'],
      dtype='object')

https://confluence.federated.fds/pages/viewpage.action?spaceKey=MKTSYS&title=Legacy+Coremetrics+DDF+Tables

Other tables (maybe legacy?):
mcom.t_ddf_cart_abandonment
mcom.t_ddf_cart_item_addition
mcom.t_ddf_cart_item_purchase
mcom.t_ddf_conversion_event
mcom.t_ddf_registration