In [1]:
%load_ext autoreload
%autoreload 2

In [89]:
import gc
import sys
import pickle
import numpy as np
import pandas as pd

import mml_lib.visualization as viz

sys.path.append('/home/jovyan/work/yh09262/cython_home')
sys.path.append('/home/jovyan/work/yh09262/utils_and_queries')

from get_baskets import get_baskets
from get_baskets_cdef import get_baskets_cdef

import UPC_utils_July_2019 as uu

Successfully loaded product catalog

In [3]:
#!ls

In [4]:
#!python get_baskets_setup.py build_ext --inplace
#!python get_baskets_cdef_setup.py build_ext --inplace

In [5]:
!ls /home/jovyan/data/yh09262/ur_train_20190220_3/

d_test				ur_production_purchase_store.csv
d_train				ur_production_user_mapping.csv
ur_production_atb.csv		ur_production_view.csv
ur_production_product_attr.csv	ur_train_20190220_3.tar.gz
ur_production_purchase.csv

In [6]:
#%%time
purdict = get_baskets('/home/jovyan/data/yh09262/ur_train_20190220_3/ur_production_purchase.csv',min_n=1)
with open('purdict__20190220_3_m1.pkl', 'wb') as f:
    pickle.dump(purdict, f)
#del purdict
gc.collect()

0

In [7]:
#%%time
atbdict = get_baskets('/home/jovyan/data/yh09262/ur_train_20190220_3/ur_production_atb.csv', min_n=1)
with open('atbdict__20190220_3_m1.pkl', 'wb') as f:
    pickle.dump(atbdict, f)
#del atbdict
gc.collect()

0

In [8]:
#%%time
viewdict = get_baskets('/home/jovyan/data/yh09262/ur_train_20190220_3/ur_production_view.csv', min_n=1)
with open('viewdict__20190220_3_m1.pkl', 'wb') as f:
    pickle.dump(viewdict, f)
#del viewdict
gc.collect()

0

### Combine The Dictionaries

In [9]:
comb_d = {}

In [10]:
#%%time
for key, value in atbdict.items():
    if key not in comb_d:
        comb_d[key] = {}
    comb_d[key]['atb'] = value

In [11]:
#%%time
for key, value in purdict.items():
    if key not in comb_d:
        comb_d[key] = {}
    comb_d[key]['purchase'] = value

In [12]:
# del atbdict
# del purdict
# gc.collect()

In [13]:
##%%time
for key, value in viewdict.items():
    if key not in comb_d:
        comb_d[key] = {}
    comb_d[key]['view'] = value

In [14]:
with open('comb_d__20190220_3_m1.pkl', 'wb') as f:
    pickle.dump(comb_d, f)
#del viewdict
gc.collect()

0

In [1]:
!ls -lth *.pkl

-rw-r--r-- 1 root root  42M Jun 17 20:53 purdict__20190220_3_m2.pkl
-rw-r--r-- 1 root root 882M Jun 17 20:53 comb_d__20190220_3_m1.pkl
-rw-r--r-- 1 root root 674M Jun 17 20:52 viewdict__20190220_3_m1.pkl
-rw-r--r-- 1 root root 207M Jun 17 20:51 atbdict__20190220_3_m1.pkl
-rw-r--r-- 1 root root  42M Jun 17 20:50 purdict__20190220_3_m1.pkl
-rw-r--r-- 1 root root  16G May 13 20:46 comb_dict_20190131_46_Mon_May_13_201211_2019_m1.pkl

In [16]:
a_few = list(comb_d.items())[:5]

In [17]:
#a_few[0]
#comb_d['820115365468423107037175256246828459689794']

In [18]:
#%%time
with open('purdict__20190220_3_m2.pkl', 'wb') as f:
    pickle.dump(purdict, f)

In [19]:
with open('purdict__20190220_3_m2.pkl', 'rb') as f:
    reloaded = pickle.load(f)

In [20]:
#list(purdict.values())[:5]

In [21]:
#list(atbdict.values())[:5]

In [22]:
list(reloaded.values())[:5]

[['2813247', '6398782', '6368884'],
 ['6911779', '7261668', '6422269', '6911778', '945524', '7019552'],
 ['6118827', '6497622', '4378898'],
 ['6945238'],
 ['6279439', '7049499', '4525472', '6698557', '6278298']]

In [23]:
!head /home/jovyan/data/yh09262/ur_train_20190220_3/ur_production_purchase.csv

126590663	2813247	20190218	821015505425913235095355951707410408440027
173717102	6911779	20190218	50161413384320076543816760194641522250860
75584760	6118827	20190218	800315505353321615086362739440376679818949
1078091610	6945238	20190218	820915505424013044029051586377757974227249
1078080372	6279439	20190218	810115505440101094024365255198706822618922
16746383	1744699	20190218	810815505434123124988402818793335580331619
53121585	3008237	20190218	810115456578672335600333977664424737496313
56636412	6742304	20190218	501414438387620807328625364140309211544430
56636412	6206955	20190218	501414438387620807328625364140309211544430
56636412	6597882	20190218	501414438387620807328625364140309211544430

In [5]:
with open('comb_dict_20190131_46_Mon_May_13_201211_2019_m1.pkl', 'rb') as f:
    comb_r = pickle.load(f)

In [6]:
type(comb_r)

dict

In [7]:
comb_r_k = list(comb_r.keys())
comb_r_k[:3]

['300111955717712203804706838559218124294681',
 '30011224712309301086785906629879379713306',
 '300112406763652146033863927383422326251824']

In [8]:
comb_r_v = list(comb_r.values())

In [22]:
comb_r_v[9:13]

[{'view': ['6667748', '6667748', '1643342', '1643342']},
 {'view': ['6653428', '6653436', '1617778', '6638125', '1617778', '8177560'],
  'atb': ['1617778'],
  'purchase': ['1617778']},
 {'view': ['666172', '4194', '2977524', '2977524', '4028905'],
  'atb': ['2977524', '666172', '4194']},
 {'view': ['1643342']}]

In [10]:
comb_r_v[9].keys(), comb_r_v[10].keys()

(dict_keys(['view']), dict_keys(['view', 'atb', 'purchase']))

In [11]:
len(comb_r_k)

86870863

In [35]:
def count_info(dvals):
    viewatbpur = 0
    viewatb = 0
    viewpur = 0
    atbpur = 0
    viewonly = 0
    atbonly = 0
    puronly = 0
    other = 0
    for basket in dvals:
        keys = basket.keys()
        if set(keys) == set({'view', 'atb', 'purchase'}): viewatbpur +=1
        elif set(keys) == set({'view', 'atb'}): viewatb +=1
        elif set(keys) == set({'view', 'purchase'}): viewpur +=1
        elif set(keys) == set({'atb', 'purchase'}): atbpur +=1
        elif set(keys) == set({'view'}): viewonly +=1
        elif set(keys) == set({'atb'}): atbonly +=1
        elif set(keys) == set({'purchase'}): puronly +=1
        else: other +=1
    return viewatbpur, viewatb, viewpur, atbpur, viewonly, atbonly, puronly, other

In [39]:
def return_sorted_dicts(dvals):
    viewatbpurdsds = []
    viewatbds = []
    viewpurds = []
    atbpurds = []
    viewonlyds = []
    atbonlyds = []
    puronlyds = []
    otherds = []
    for basket in dvals:
        keys = basket.keys()
        if set(keys) == set({'view', 'atb', 'purchase'}): viewatbpurds.append(basket)
        elif set(keys) == set({'view', 'atb'}): viewatbds.append(basket)
        elif set(keys) == set({'view', 'purchase'}): viewpurds.append(basket)
        elif set(keys) == set({'atb', 'purchase'}): atbpurds.append(basket)
        elif set(keys) == set({'view'}): viewonlyds.append(basket)
        elif set(keys) == set({'atb'}): atbonlyds.append(basket)
        elif set(keys) == set({'purchase'}): puronlyds.append(basket)
        else: otherds.append(basket)
    return viewatbpurds, viewatbds, viewpurds, atbpurds, viewonlyds, atbonlyds, puronlyds, otherds

In [40]:
viewatbpurds, viewatbds, viewpurds, atbpurds, viewonlyds, atbonlyds, puronlyds, otherds = return_sorted_dicts(comb_r_v)
print("Done")

Done

In [50]:
#print(viewatbpurds[:2])
#print(atbpurds[:2])
for x in viewatbpurds[:10]:
    print("Views: " ,x['view'])
    print("Atbs: ", x['atb'])
    print("Purchase: ", x['purchase'])
    print()

Views:  ['6653428', '6653436', '1617778', '6638125', '1617778', '8177560']
Atbs:  ['1617778']
Purchase:  ['1617778']

Views:  ['7892720', '7086563', '7197961', '6767678', '7693317', '7693317', '7050700', '7693317', '6635622', '6990979', '6990984', '7050700', '6937139', '7693317', '6713888']
Atbs:  ['6990984', '7050700', '6767678', '7050700', '7693317']
Purchase:  ['7050700', '7693317', '6990984', '6767678']

Views:  ['5471441', '4860947', '4789976', '7045731', '6667748', '1643342']
Atbs:  ['1643342', '5471441', '7045731', '1643342', '1643342', '6667748']
Purchase:  ['6667748', '1643342', '7045731']

Views:  ['7045731', '4194', '2977524']
Atbs:  ['7045731', '2977524', '4194']
Purchase:  ['7045731', '2977524']

Views:  ['7115312']
Atbs:  ['7117763', '7117763']
Purchase:  ['7117763']

Views:  ['3212', '483713', '561451', '3212', '560829']
Atbs:  ['3212', '483713']
Purchase:  ['483713', '3212']

Views:  ['6688919', '6567860', '5446106', '6688928']
Atbs:  ['6688919', '6567860']
Purchase:  ['6567860', '6688919']

Views:  ['6383119']
Atbs:  ['6383119']
Purchase:  ['6383119']

Views:  ['6809436']
Atbs:  ['6809436']
Purchase:  ['6809436']

Views:  ['8174739', '8174739', '902755', '902755', '521794', '323450', '6749599', '902755']
Atbs:  ['8174739', '8174739', '8174739', '323450', '902755', '6749599', '6749599', '8174739', '323450', '902755']
Purchase:  ['323450', '902755', '8174739']

# TODO
* Statistics for which product types are most likely to go view-to-purchase
* Stats for most likely atb-pur and most likely view-atb-pur, etc.
* Stats for least likely.
* Can we adjust by price?
* Need to bring in an attribute table.
* Plot number of views vs. # of purchases - is it linear relationship?

In [ ]:
example_dict = {
    'pid1' : {'purchasecount' : 23,
             'viewcount' : 560
             }
    'pid2' : {'purchasecount' : 16,
             'viewcount' : 120
             }
}

In [54]:
def get_all_counts(dvals):
    output = {}
    for item in dvals:
        if 'view' in item.keys():
            for pid in item['view']:
                if pid not in output.keys():
                    output[pid] = {'views': 1, 'atbs': 0, 'purchases': 0}
                else:
                    output[pid]['views'] += 1
        if 'atb' in item.keys():
            for pid in item['atb']:
                if pid not in output.keys():
                    output[pid] = {'views': 0, 'atbs': 1, 'purchases': 0}
                else:
                    output[pid]['atbs'] += 1                    
        if 'purchase' in item.keys():
            for pid in item['purchase']:
                if pid not in output.keys():
                    output[pid] = {'views': 0, 'atbs': 0, 'purchases': 1}
                else:
                    output[pid]['purchases'] += 1    
    return output

In [55]:
counts_pid = get_all_counts(comb_r_v)

In [57]:
counts_pid_l = list(counts_pid.items())

In [58]:
counts_pid_l[:3]

[('6612068', {'views': 24366, 'atbs': 3793, 'purchases': 566}),
 ('987859', {'views': 63439, 'atbs': 9581, 'purchases': 1802}),
 ('1048510', {'views': 121317, 'atbs': 18395, 'purchases': 3378})]

In [180]:
conv = pd.DataFrame(counts_pid).T
conv.head()

          atbs  purchases   views
6612068   3793        566   24366
987859    9581       1802   63439
1048510  18395       3378  121317
6446981  13996       2658   68837
1656539  25572       4869   70271

In [184]:
conv['view2pur_conv'] = conv['purchases'] / conv['views']
conv['atb2pur_conv'] = conv['purchases'] / conv['atbs']
conv['view2atb_conv'] = conv['atbs'] / conv['views']
conv['averageconversion'] = (conv['view2pur_conv'] + conv['atb2pur_conv'] + conv['view2atb_conv'])/3
conv['totalconversion'] = conv['purchases'] / (conv['atbs'] + conv['views'])

In [185]:
topconversion = conv.query('views > 15').sort_values(by='totalconversion', ascending=False)
topconversion.head()

,atbs,purchases,views,view2pur_conv,atb2pur_conv,view2atb_conv,totalconversion,averageconversion
8030455,1955,1920,641,2.995320,0.982097,3.049922,0.739599,2.342446
2374327,23433,13925,4639,3.001725,0.594247,5.051304,0.496046,2.882425
8024313,140,70,31,2.258065,0.500000,4.516129,0.409357,2.424731
6555405,4069,1815,669,2.713004,0.446056,6.082212,0.383073,3.080424
7934068,3205,1362,357,3.815126,0.424961,8.977591,0.382369,4.405893

In [186]:
topconversion.tail()

,atbs,purchases,views,view2pur_conv,atb2pur_conv,view2atb_conv,totalconversion,averageconversion
7651230,7,0,113,0.0,0.0,0.061947,0.0,0.020649
4848991,1,0,90,0.0,0.0,0.011111,0.0,0.003704
7052959,0,0,80,0.0,NaN,0.000000,0.0,NaN
4845470,0,0,62,0.0,NaN,0.000000,0.0,NaN
5391016,0,0,19,0.0,NaN,0.000000,0.0,NaN

### Need to filter out GWP and PWP

In [79]:
!ls /home/jovyan/data/yh09262/ur_train_20190220_3

d_test				ur_production_purchase_store.csv
d_train				ur_production_user_mapping.csv
ur_production_atb.csv		ur_production_view.csv
ur_production_product_attr.csv	ur_train_20190220_3.tar.gz
ur_production_purchase.csv

In [189]:
!ls /home/jovyan/data/yh09262/prod

20190329_60  20190605_60  prod_attribute_July26_2019.csv

In [82]:
#!ls /home/jovyan/work/yh09262/cython_home
# attr = pd.read_csv('/home/jovyan/data/yh09262/ur_train_20190220_3/ur_production_product_attr.csv')
# attr.head()
from get_csv_rows import get_csv_rows

In [190]:
#attrrows = get_csv_rows('/home/jovyan/data/yh09262/ur_train_20190220_3/ur_production_product_attr.csv')
attrrows = get_csv_rows('/home/jovyan/data/yh09262/prod/prod_attribute_July26_2019.csv',numcols=24)

In [194]:
attr = pd.DataFrame(attrrows[1:],columns=attrrows[0]).set_index('product_id')
print(attr.shape)
attr.head()

(2285468, 23)

,prod_name,today_original_price,today_retail_price,availability_flag,home_category_id,gmm_id,div_id,department_id,prod_age_txt,new_arrival,...,age_category,prodtype,gender,master_product_flag,recommend_pdp,product_long_description,site_product_type,size_attr_name,actv_web_cat_ids,pwp_ind
product_id,,,,,,,,,,,,,,,,,,,,,
75389,Marquis By Waterford Sheridan Bowls,NULL,NULL,N,56127,47,82,628,<null>,NULL,...,Adult,Home,<null>,Y,NULL,A series of vertical wedge cuts around the sid...,GIFTWARE,NULL,NULL,N
6850,"Lenox Serveware, 10"" Holiday Oval Vegetable Bowl",360.0,360.0,Y,53630,47,82,783,2918,NULL,...,<null>,Home,<null>,N,Y,What finer things can there be than this? Part...,CHINA,NULL,"8377,9545,24294,25037,25152,27226,29023,32175,...",N
16241,"Dermablend Remover, 6.3 oz.",NULL,NULL,N,30077,4,37,374,<null>,NULL,...,Adult,Cosmetics,Women,N,NULL,This fast dissolving formula effectively remov...,SKIN_CARE,NULL,NULL,N
16245,"Dermablend Compact Cover Creme, .49 oz.",NULL,NULL,N,30077,4,37,374,<null>,NULL,...,Adult,Cosmetics,Women,N,NULL,In an array of skin tones this cover creme dev...,FACE_MAKEUP,NULL,NULL,N
16313,Carolina Herrera 212 for Men Eau de Toilette S...,90.0,90.0,Y,30076,4,38,343,2918,NULL,...,Adult,Fragrance,Men,N,Y,Carolina Herrera presents a whole new 212 just...,FRAGRANCE,NULL,"3536,9559,14877,26679,30076,30088,30169,31620,...",N

In [192]:
attr.shape

(2285468, 24)

In [124]:
import os
CACHE_IMAGE_PATH = os.environ.get('PROS_DS_LIB_IMAGE_CACHE_DIR',os.path.join(os.path.expanduser('~'),'_product_images_cache'))
PRODUCT_FILE = os.environ.get('PROS_DS_LIB_PRODUCT_FILE',os.path.join(CACHE_IMAGE_PATH, 'product_catalog.csv'))
prods = pd.read_csv(PRODUCT_FILE,dtype={'product_id': str, 'prod_name': str, 'price_retail': float}).set_index('product_id')

In [137]:
print(prods.shape)
prods['names_lower'] = prods['prod_name'].str.lower().astype('str')
prods.head()

(2526359, 3)

,prod_name,price_retail,names_lower
product_id,,,
2187,"COOL WATER WOMAN BODY MOISTURIZER, 6.7 OZ.",34.0,"cool water woman body moisturizer, 6.7 oz."
2276,FIESTA 19-OZ. MEDIUM BOWL,14.0,fiesta 19-oz. medium bowl
2280,"FIESTA 13"" OVAL PLATTER",38.0,"fiesta 13"" oval platter"
16379,CACHAREL ANAIS ANAIS FOR WOMEN PERFUME COLLECTION,NaN,cacharel anais anais for women perfume collection
19952,GORHAM MELON BUD FROSTED STAINLESS FLATWARE CO...,NaN,gorham melon bud frosted stainless flatware co...

In [117]:
#PRODUCT_CATALOG.to_csv('/home/jovyan/work/yh09262/DTOOLS/product_catalog_July26_2019.csv')

In [94]:
import json
import requests
URL = 'https://www.macys.com/api/navigation/products/thumbnail/'
#HEADERS = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Cafari/537.36'}
HEADERS = {
    'User-Agent': ('Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5)'
                   'AppleWebKit/537.36 (KHTML, like Gecko) Cafari/537.36')}

print(requests.get(URL+'8030455').json())

{'ProductThumbnailData': {'errorMessage': 'Product thumbnail may be unavailable, archived or some of the business rules related to display product thumbnail are not met'}}

In [92]:
uu.get_product_info_from_mcom('8030455')

{'ProductThumbnailData': {'errorMessage': 'Product thumbnail may be unavailable, archived or some of the business rules related to display product thumbnail are not met'}}

In [121]:
print(PRODUCT_CATALOG.loc['4765862',:]['prod_name'])
print(PRODUCT_CATALOG.loc['8024313',:]['prod_name'])
print(PRODUCT_CATALOG.loc['6733522',:]['prod_name'])
print(PRODUCT_CATALOG.loc['2374327',:]['prod_name'])
print(PRODUCT_CATALOG.loc['8030455',:]['prod_name'])

RECEIVE A FREE DELUXE ADVANCED NIGHT REPAIR SERUM WITH ANY $75 ESTÉE LAUDER PURCHASE
Receive a free FULL SIZE Rejuvenating Face Oil with $50 BABOR Purchase! (a $69 value)
Receive a Complimentary Duffel Bag with any $54 purchase from the Paul Sebastian fragrance collection
RECEIVE A FREE MINI SETTING POWDER WITH ANY FOUNDATION PURCHASE!
Happy Lunar New Year! FREE 4 pc Gift with $85 Kiehl's Purchase!

In [173]:
prods_pf = prods[prods['price_retail'] <= 3]
gwp = prods[prods['names_lower'].str.contains("receive a complimentary") | \
            prods['names_lower'].str.contains("receive a free") | \
            prods['names_lower'].str.contains("gift with") | \
            prods['names_lower'].str.contains("with your $")]

all_gwp = set(prods_pf.index.values).union(set(gwp.index.values))
print(len(gwp), len(prods_pf), len(all_gwp))

15541 71707 78771

In [153]:
gwp_n = prods[~prods['names_lower'].str.contains("receive a complimentary") & \
            ~prods['names_lower'].str.contains("receive a free") & \
            ~prods['names_lower'].str.contains("gift with")]
print(len(gwp_n))

2510818

In [154]:
len(prods)

2526359

In [155]:
2526359 - 15541

2510818

In [156]:
gwp_n.head(3)

,prod_name,price_retail,names_lower
product_id,,,
2187,"COOL WATER WOMAN BODY MOISTURIZER, 6.7 OZ.",34.0,"cool water woman body moisturizer, 6.7 oz."
2276,FIESTA 19-OZ. MEDIUM BOWL,14.0,fiesta 19-oz. medium bowl
2280,"FIESTA 13"" OVAL PLATTER",38.0,"fiesta 13"" oval platter"

In [176]:
'6555405' in all_gwp

True

In [187]:
top_conversion_n = [str(x) for x in topconversion.index.values if x not in all_gwp]

In [177]:
# for x in [6555405, 6314681, 7807902, 5797187, 7693208, 8226305, 7787221, 6851321, 6788984, 6245587]:
#     print(prods.loc[str(x),'names_lower'])

In [197]:
attr.index[:3]

Index(['75389', '6850', '16241'], dtype='object', name='product_id')

In [213]:
attr.loc[top_conversion_n[:20],['prod_name','today_retail_price','product_long_description','site_product_type']]

/opt/conda/lib/python3.6/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,prod_name,today_retail_price,product_long_description,site_product_type
product_id,,,,
7135725,"The Art of Shaving Lavender Pre-Shave Oil, 1 f...",16.0,Lavender Pre-Shave Oil softens the beard and p...,SKIN_CARE
1725859,Team Golf Chicago Bears Golf Towel,16.99,Hit the links with your favorite team when you...,ACCESSORIES
6245587,"Origins Ginger Souffle Whipped Body Cream, 8.5...",22.0,The gift every body loves: Sensuous Ginger Sou...,BODY_CARE
2379781,"Fiesta 7.25"" Cobalt Salad Plate",15.0,"Perhaps the name ""Fiesta"" was chosen in 1936 b...",CASUAL_DINNERWARE
6337118,"Rod Desyne Bud 13/16"" Curtain Rod 48""-84""",92.0,The perfect choice for adding style to your wi...,WINDOW_HARDWARE
6873111,Xbox 1 Pro Evolution Soccer 2019,59.99,"Player individuality taken to the next level, ...",ELECTRONICS
6664085,NaN,NaN,NaN,NaN
2379819,"Fiesta 7.25"" Lemongrass Salad Plate",15.0,"Perhaps the name ""Fiesta"" was chosen in 1936 b...",CASUAL_DINNERWARE
574217,The Bon Marche T Shirt,26.0,"Affectionately called ""The Bon"" by loyal custo...",T-SHIRT
23937,"Wedgwood Dinnerware, Nantucket Basket Covered ...",93.75,"Nantucket Basket is a fine, all-white Wedgwood...",SERVEWARE
2379786,"Fiesta 7.25"" Sunflower Salad Plate",15.0,"Perhaps the name ""Fiesta"" was chosen in 1936 b...",CASUAL_DINNERWARE
7479716,Unicorn Moods Giant Message Board,70.0,Add a playful touch of magic to walls with thi...,ART
2601392,Rod Desyne Magnolia Single Curtain Rod 28'' - ...,95.0,Let your contemporary window décor blossom wit...,WINDOW_HARDWARE
2050665,Waterford Lismore Diamond Lapis Dinner Plate,41.0,The gold and purple hues of Waterford's Lismor...,CHINA
7368406,New Era Pittsburgh Steelers Salute To Service ...,20.0,Show support for your favorite team and your c...,HAT
2371145,"Fiesta Poppy 9"" Luncheon Plate",18.0,An American classic with definitive Deco flair...,CASUAL_DINNERWARE
6943007,Nike Men's Iowa State Cyclones Legend Staff Si...,18.0,The Nike NCAA Men's Legend Staff Sideline T-sh...,TOP
4631908,"Fiesta Daffodil 9"" Luncheon Plate",18.0,An irresistible cheery yellow combines in a De...,CASUAL_DINNERWARE
6431544,Department 56 Village Figure Who-Ville Christm...,NULL,Put the finishing touches on the Who-Ville Chr...,VILLAGES
2380027,"Fiesta 7.25"" Poppy Salad Plate",15.0,"Perhaps the name ""Fiesta"" was chosen in 1936 b...",CASUAL_DINNERWARE

In [217]:
stp1k_top = attr.loc[top_conversion_n[:1000],['site_product_type']]
stp1k_top['site_product_type'].value_counts()[:10]

/opt/conda/lib/python3.6/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

CASUAL_DINNERWARE    145
SERVEWARE             99
TOP                   84
HAT                   70
MAKEUP                47
SKIN_CARE             44
WINDOW_HARDWARE       39
TOWEL                 37
PILLOW                31
BATH_ACCESSORY        29
Name: site_product_type, dtype: int64

In [218]:
stp1k_bot = attr.loc[top_conversion_n[-1000:],['site_product_type']]
stp1k_bot['site_product_type'].value_counts()[:10]

/opt/conda/lib/python3.6/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

FURNITURE              157
AREA_RUG                61
LAMP                    56
RING                    38
TOP                     37
WATCH                   33
ART                     31
SHOE                    27
DRESS                   25
CURTAINS_AND_DRAPES     19
Name: site_product_type, dtype: int64

In [221]:
viz.display_recom_panel(top_conversion_n[:10])

In [160]:
viz.display_recom_panel([str(x) for x in topconversion.index.values[-30:]])

In [17]:
%time
viewatbpur, viewatb, viewpur, viewonly, atbonly, puronly, other = count_info(comb_r_v)

CPU times: user 4 µs, sys: 2 µs, total: 6 µs
Wall time: 21.2 µs

In [21]:
print("viewatbpur:", viewatbpur,"  viewatb:", viewatb, "  viewpur: ", viewpur)
print("viewonly:", viewonly, "  atbonly:", atbonly, "  puronly:", puronly, "  other:", other)

viewatbpur: 6741760   viewatb: 17871135   viewpur:  0
viewonly: 58119237   atbonly: 3441957   puronly: 0   other: 696774

In [15]:
# testdf = pd.DataFrame(comb_r_v)
# testdf.head()

In [27]:
np.intersect1d(['view', 'atb', 'purchase'],list({'atb', 'purchase'}))

array(['atb', 'purchase'], dtype='<U8')

In [ ]:
inspect_others = [x for x in comb_r_v if len(np.intersect1d(list(x.keys()),['view', 'atb', 'purchase'])) < 1]

In [ ]:
inspect_others[:10]